

  <div class="field">
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.text_field :phone %>
  </div>
  <div class="field">
  <%= f.email_field :email %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
