<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <label for="business_name">Name <span class="required"></span></label>
    <%=f.text_field :name , hide_label: true %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <label for="business_ein">EIN(2 to 9 Characters) <span class="required"></span></label>
    <%=f.number_field :ein ,hide_label: true %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
  <%=f.date_field :date_purchased_or_sold, {:label=> 'Date Purchased'}  %>
  <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.text_field :address , {:label=> 'Address'} %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.text_field :city ,  {:label=> 'City'} %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-4 left-move"></div>
    <div class="col-lg-4 left-move">
      <%=f.select :state,options_for_select(['Alabama','Alaska','American Samoa','Arizona','Arkansas','California','Colorado','Connecticut','Delaware','District of Columbia','Federated States of Micronesia','Florida','Georgia','Guam','Hawaii','Idaho','Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana','Maine','Marshall Islands','Maryland','Massachusetts','Michigan','Minnesota','Mississippi','Missouri','Montana','Nebraska','Nevada','New Hampshire','New Jersey','New Mexico','New York','North Carolina','North Dakota','Northern Mariana Islands','Ohio','Oklahoma','Oregon','Palau','Pennsylvania','Puerto Rico','Rhode Island','South Carolina','South Dakota','Tennessee','Texas','Utah','Vermont','Virgin Island','Virginia','Washington','West Virginia','Wisconsin','Wyoming'], @business[:state]) ,{ :include_blank => '-- Select One --' },  {:label=> 'State'} %>
      <div class="invalid-feedback">Please provide a time.</div>
      <div class="valid-feedback">Looks good!</div>
    </div>
</div>
<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.text_field :zip ,  {:label=> 'Zip'} %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.text_field :phone ,  {:label=> 'Phone'} %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <label for="business_does_company_have_employees">Does Company Have Employees? <span class="required"></span></label>
    <%=f.select :does_company_have_employees,options_for_select(["Yes","No"], @business[:does_company_have_employees]), { :include_blank => '-- Select One --',hide_label: true }%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <label for="business_qualified_plan_sponsored">Qulaified Plan Sponsored <span class="required"></span></label>
    <%=f.select :qualified_plan_sponsored,options_for_select(["Yes","No"], @business[:qualified_plan_sponsored]), { :include_blank => '-- Select One --',hide_label: true } %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
      <label for="business_entity_type">Entity Type <span class="required"></span></label>
    <%=f.select :entity_type,options_for_select(["C Corp","Church","Corporation","Government","Limited Liability Company","Limited Liability Corporation","Limited Partnership","LLC","LLC - Taxed as Corporation "," LLC- Taxed as Partnership","LLC- Taxed as Sole Proprietorship","LLP","Non-Profit Organization","Partnership","Professional Service Partnership","Real Estate Investment Trust","S Corp","Sole Prop","Sub-S","Tax Exempt","Tribal Government","Unknown"], @business[:entity_type]), { :include_blank => '-- Select One --' ,hide_label: true}  %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="actions col-lg-12">
  <div class="row">
    <div class="col-lg-5 left-move"></div>
    <div class="left-move">
      <%= f.submit value: "Save", class: "btn btn-primary"%>
    </div>
    <div class="col-lg-1 right-move"></div>
    <div class="right-move">
      <%= link_to 'Cancel', businesses_path, class: "btn btn-secondary " %>
    </div>
  </div>
</div>
<br>
