<div class="full-scroll">
  <table class="table">
    <thead class="thead-dark" >
      <tr>
        <th>Name</th>
        <th>Ein</th>
        <th>Date purchased</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Employees?</th>
        <th>Plan Sponsor</th>
        <th>Entity type</th>
        <th colspan="1">Actions</th>
        <th><%=link_to 'Add Business',new_business_path, class:"btn btn-primary" %></th>
      </tr>
    </thead>
    <tbody>
      <% @businesses.each do |business| %>
        <tr>
          <td><%= business.name %></td>
          <td><%= business.ein %></td>
          <td><%= business.date_purchased_or_sold %></td>
          <td><%= business.address %></td>
          <td><%= business.phone %></td>
          <td><%= business.does_company_have_employees %></td>
          <td><%= business.qualified_plan_sponsored %></td>
          <td><%= business.entity_type %></td>
          <td>
          <i class="material-icons icon-20pt modal-edit"><%= link_to 'edit', edit_business_path(business) %></i>
          <i class="material-icons icon-20pt"><%= link_to 'delete', business, method: :delete, data: { confirm: 'Are you sure?' } %></i></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
