<p id="notice"><%= notice %></p>

<h1>Businesses</h1>

<table class="table">
  <thead class="thead-dark" >
    <tr>
      <th>Name</th>
      <th>Ein</th>
      <th>Date purchased</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Employees?</th>
      <th>Plan Sponsor</th>
      <th>Entity type</th>
      <th colspan="1">Actions</th>
      <th><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_family">Add</button></th>

    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.name %></td>
        <td><%= business.ein %></td>
        <td><%= business.date_purchased_or_sold %></td>
        <td><%= business.address %></td>
        <td><%= business.phone %></td>
        <td><%= business.does_company_have_employees %></td>
        <td><%= business.qualified_plan_sponsored %></td>
        <td><%= business.entity_type %></td>
        <td><i class="material-icons icon-20pt"><%= link_to 'slideshow', business %></i>
        <i class="material-icons icon-20pt"><%= link_to 'edit', business %></i>
        <i class="material-icons icon-20pt"><%= link_to 'delete', business, method: :delete, data: { confirm: 'Are you sure?' } %></i></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="modal fade" id="new_family" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:35%" position="" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="page__heading">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
              <li class="breadcrumb-item active" aria-current="page">Businenss</a></li>
            </ol>
          </nav>
        </div>
        <h5 class="modal-title" id="exampleModalLabel">Add New Business</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_with(url:businesses_path,model:@business, local:true) do |f| %>
          <%=render 'form', f: f %>
        <% end %>
      </div>
    </div>
  </div>
</div>
