<div class="employee_index_scroll">
	<div class="container-fluid page__heading-container">
		<div class="page__heading d-flex align-items-center">
			<div class="flex">
				<div class="row">
					<div class="col-lg-2">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
								<li class="breadcrumb-item active" aria-current="page">Business</a></li>
							</ol>
							<h1 class="m-0" <%= count()%>>Businesses</h1>
						</nav>
					</div>
					<!-- Stepper partial -->
					<div class="container">
						<div>
							<%= render '/shared/stepper' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid page__container">
		<div>
			<h3> Step 5 : Other Businesses Owned : 
				<div class="ml-3 my-1 float-right">
					<%=link_to "Save",save_business_path,class: "btn btn-success " %>
				</div> 
				<div class="ml-3 my-1 float-right">
					<button type="button" class="btn btn-success  px-3" data-toggle="modal" data-target="#myModal ">Notes  <%= [no_of_notes(controller_name.singularize)] %> </button>			
				</div>
			</h3>
		</div>
		<div class="mt-4 mb-2">
			<span style="font-style: italic;"> Please enter the complete list of other businesses that are owned as well as owners of other business. When
				you have completed your changes, click the Save button to continue.</span>
		</div>
		<div class="card card-form">
			<div class="row no-gutters">
				<div class="col-lg-12 card-form__body">
					<div class="ml-3  float-right">
						<%=link_to 'Add Business',new_business_path, class:"btn btn-primary m-1 float-right" %>
					</div>

				</div>
				<div class="col-lg-12 card-form__body">
					<table class="table mb-0 thead-border-top-0 mt-1  table-hover">
						<thead class="table-info">
							<tr>
								<th><%= sort_link(@q, :name) %></th>
								<th><%= sort_link(@q, :ein) %></th>
								<th><%= sort_link(@q, :date_purchased_or_sold, 'Date Purchased') %></th>
								<th><%= sort_link(@q, :address) %></th>
								<th><%= sort_link(@q, :phone) %></th>
								<th><%= sort_link(@q, :employees) %></th>
								<th><%= sort_link(@q, :qualified_plan_sponsored, 'Plan Sponser') %></th>
								<th><%= sort_link(@q, :entity_type) %></th>
								<th colspan="1">Actions</th>
							</tr>
						</thead>
						<%if session[:task_id]%>
						<tbody>
							<% @businesses.each do |business| %>
							<tr class="redirect_to_show cursor-pointer" data-url="<%= business_path(business) %>">
								<td><%= business.name %></td>
								<td><%= business.ein %></td>
								<td><%= business.date_purchased_or_sold %></td>
								<td><%= business.address %></td>
								<td><%= business.phone %></td>
								<td><%= business.does_company_have_employees%></td>
								<td><%= business.qualified_plan_sponsored %></td>
								<td><%= business.entity_type %></td>
								<td>
									<a href=<%=edit_business_path(business)%>><i class="material-icons icon-20pt modal-edit">edit</i></a>
									<a data-confirm="Are you sure?" rel="nofollow" data-method="delete"
										href=<%=business_path(business)%>><i class="material-icons">delete</i></a>
								</td>
							</tr>
							<% end %>
						</tbody>
						<%end%>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>