<tr class="redirect_to_show cursor-pointer" id="note_<%= note.id %>" data-url="<%= note_path(note)  %>">
	<td><%= note.description%></td>
	<td><%= note.created_at %></td>
	<td><%= note.created_by %></td>
	<td>
		<a><i class="material-icons icon-20pt modal-note-edit" data-id=<%=note.id%> onclick='get_note()'>edit</i></a>
		<a  rel="nofollow" class="delete_href" data-id=<%=note.id%> onclick='delete_note()'><i
				class="material-icons" class="delete_icon" >delete</i></a>
	</td>
</tr>

