<div class="employee-form-scroll">
	<div class="container-fluid page__heading-container">
		<div class="page__heading d-flex align-items-center">
			<div class="flex">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb mb-0">
						<li class="breadcrumb-item"><a href=<%= root_path %>><i class="material-icons icon-20pt">home</i></a></li>
						<li class="breadcrumb-item active" aria-current="page"><a href=<%= notes_path %>>Note</aApproval>
						</li>
					</ol>
				</nav>
				<h1 class="m-0">Notes</h1>
			</div>
		</div>
	</div>

	<div class="container-fluid page__container">
		<div class="row ">
			<div class="col-lg-5">
				<div class="card card-form__body">
					<div class="table-responsive">
						<table class="table mb-0 thead-border-top-0 mt-1  table-hover table-bordered">
							<tbody>
								<tr>
									<td> Note </td>
									<td> <%=@note.description%> </td>
								</tr>
								<tr>
									<td> Type </td>
									<td> <%=@note.data_collection_step%> </td>
								</tr>
								<tr>
									<td> Date </td>
									<td> <%=@note.created_at %> </td>
								</tr>
								<tr>
									<td> created_by </td>
									<td> <%=@note.created_by %>
								</tr>
								<tr>
									<td> updated_at </td>
									<td> <%=@note.updated_at %>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>