<div class="table-responsive border-bottom" data-toggle="lists" data-lists-values='["js-lists-values-employee-name"]' >
  <table class="table mb-0 thead-border-top-0 mt-1">
    <thead>
      <tr class="table-info">
        <th>
        </th>
        <th><%= sort_link(@q, :first_name, 'First	') %></th>
        <th><%= sort_link(@q, :last_name, 'Last') %></th>
        <th><%= sort_link(@q, :ssn, 'SSN') %></th>
        <th><%= sort_link(@q, :gender, 'Gender') %></th>
        <th><%= sort_link(@q, :date_of_birth, 'DOB') %></th>
        <th><%= sort_link(@q, :original_date_of_hire, 'Orig.Hire') %></th>
        <th><%= sort_link(@q, :date_of_termination, 'Termination') %></th>
        <th><%= sort_link(@q, :date_of_retire, 'Rehire') %></th>
        <th><%= sort_link(@q, :compensation, 'Comp') %></th>
				<th><%= sort_link(@q, :company_division, 'Division') %></th>
				<th><%= sort_link(@q, :union_employee, 'Union') %></th>
         <th colspan="1">Actions</th>
      </tr>
    </thead>
    <tbody class="list" id="blah" >
      <%= render partial: 'employee', collection: employees %>
    </tbody>
  </table>
</div>