<tr>
  <td>
    <input type="checkbox" name="employee_ids[]" value=<%=employee.id%> />
  </td>
  <td>
    <div class="media align-items-center">
      <%=employee.first_name  %>
    </div>
  </td>
  <td>
    <div class="media align-items-center">
      <%= employee.last_name%>
    </div>
  </td>
  <td>
    <div class="media align-items-center">
      <%#=employee.ssn.to_s.insert(3,'-').insert(6,'-') rescue nil%>
      <%=employee.ssn%>
    </div>
  </td>
  <td>
    <div class="media align-items-center">
      <%=employee.gender%>
    </div>
  </td>
  <td>
    <div class="media align-items-center">
      <%=employee.date_of_birth%>
    </div>
  </td>
  <td>
    <div class="media align-items-center">
      <%=employee.original_date_of_hire%>
    </div>
  </td>

  <td>
    <div class="media align-items-center">
     <%=employee.date_of_termination %>
    </div>
  </td>
  <td>
    <div class="media align-items-center">
      <%=employee.date_of_retire %>
    </div>
  </td>
  <td>
    <div class="media align-items-center">
      <%=employee.compensation %>
    </div>
  </td>
  <td>
    <div class="media align-items-center">
     <%=employee.hours %>
    </div>
	</td>
	<td>
    <div class="media align-items-center">
     <%=employee.company_division %>
    </div>
	</td>
	<td>
    <div class="media align-items-center">
     <%=employee.union_employee %>
    </div>
  </td>
  <td>
  <i class="material-icons icon-20pt modal-edit"><%= link_to 'edit', edit_employee_path(employee) %></i>
  <i class="material-icons icon-20pt"><%= link_to 'delete', employee, method: :delete, data: { confirm: 'Are you sure?' } %></i>
  </td>
</tr>