<div class="form-row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.text_field :first_name%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.text_field :last_name%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move ">
  <%=f.text_field :ssn, :maxlength => 11 %>
  <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.select :gender,options_for_select(["Male","Female"])%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.date_field :date_of_birth%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.date_field :original_date_of_hire%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.date_field :date_of_termination%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.date_field :date_of_retire%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.text_field :compensation%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.number_field :hours%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.text_field :pre_tax_salary_deferal%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.text_field :roth_salary_deferal%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.text_field :employee_match%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.text_field :company_divison%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.check_box :union_employee%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="actions col-lg-12">
  <div class="row">
    <div class="col-lg-3 left-move  my-2"></div>
    <div class="left-move my-2 ml-2">
      <%= f.submit value: "Save", class: "btn btn-primary"%>
    </div>
    <div class="col-lg-1 right-move"></div>
    <div class="right-move my-2">
      <%= link_to 'Cancel', root_path, class: "btn btn-secondary " %>
    </div>
  </div>
</div>
  <br>
