<div class="form-row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.text_field :first_name , {:label=> 'First Name'}%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.text_field :last_name , {:label=> 'Last Name'}%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move ">
  <%=f.text_field :ssn,	{:maxlength => 9, :label=> 'SSN'}  %>
  <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.select :gender,options_for_select(["Male","Female"], @employee[:gender]), { :include_blank => '-- Select One --' }%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row d-none" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move" >
		<input type="text" class='datepicker' >
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>

<div class="row" >
  <div class="col-lg-3 left-move" ></div>
  <div class="col-lg-4 left-move">
    <%=f.date_field :date_of_birth , {:class=> 'date_picker'} %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.date_field :original_date_of_hire , {:label=> 'Original Date Of Hire'}%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.date_field :date_of_termination , {:label=> 'Date Of Termination'}%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.date_field :date_of_retire ,	{:label=> 'Date of Retire'}%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.text_field :compensation%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.number_field :hours%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.text_field :pre_tax_salary_deferal, {:label=> 'Pre-Tax Salary Deferral', :value=> '$'} %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.text_field :roth_salary_deferal,  {:label=> 'Roth Salary Deferral', :value=> '$'}%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.text_field :employee_match, {:label=> 'Employer Match', :value=> '$'}%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.text_field :company_divison,  {:label=> 'Company Division'}%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.check_box :union_employee,  {:label=> 'Union Employee'} %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="actions col-lg-12 mt-3">
  <div class="row">
    <div class="col-lg-4 left-move "></div>
    <div class="left-move my-2 ">
      <%= f.submit value: "Save", class: "btn btn-primary"%>
    </div>
    <div class="col-lg-1 right-move"></div>
    <div class="right-move my-2">
      <%= link_to 'Cancel', root_path, class: "btn btn-secondary " %>
    </div>
  </div>
</div>
