<div class="container-fluid page__heading-container">
  <div class="page__heading d-flex align-items-center">
    <div class="flex">
      <div class="row">
        <div class="col-lg-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href=<%='#'%>><i class="material-icons icon-20pt">home</i></a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href=<%='#'%>>employee</a></li>
            </ol>
            <h1 class="m-0" <%= count()%>>Employees</h1>
          </nav>
        </div>
        <!-- Stepper partial -->
        <div class="container">
          <div>
            <%= render '/shared/stepper' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid page__container">
  <div>
    <h3 class="ml-1"> Step 9 : Employee Census </h3>
  </div>
  <div class="mt-4 mb-2 ml-1">
    <span style="font-style: italic;" > Please enter or import your employee census data using the tools below . When you are satisfied that all of the data is correct, click the save button to continue. If you do not have any employee that report W-2 wages, click the delete all employees button and then click the save button for more information on approving this step. </span>
  </div>
  <div class="card card-form">
    <div class="row no-gutters">
      <div class="col-lg-12 card-form__body">
      <%= form_tag import_file_path, :id=> 'target', multipart: true do %>
        <div class="m-3 float-left  d-none" >
          <%= file_field_tag :file, class: 'form-control file_import '%>
        </div>
        <div class="ml-3 my-3 float-left">
        <%= link_to 'Import','', class:"btn btn-success import px-3 " %>
        </div>
        <div class="ml-2 my-3 float-left">
          <%= link_to 'Export',employees_path(format: "xlsx"), class:"btn btn-primary px-3" %>
        </div>
        <div class="mr-3 my-3 float-right">
          <%= link_to 'Save',save_employee_path, class: 'btn btn-success px-3'%>
        </div>
        <div class="mr-2 my-3 float-right">
        <button type="submit" value="delete" id="delete" class = "btn btn-danger px-3">Delete</button>
        </div>
        <div class="mr-2 my-3 float-right">
          <button type="button" class="btn btn-success  px-3 notes_count" data-toggle="modal" data-target="#myModal">Notes  <%= [no_of_notes(controller_name.singularize)] %> </button>
        </div>
      <% end %>

      </div>
      <div class="col-lg-12 card-form__body">
        <%= search_form_for @q, url: '#', class: "", method: "get" do |f| %>
          <div class="float-left ml-3 mr-1 search-form search-form--light ">
              <%= f.search_field :last_name_or_first_name_cont, value: @first_name, placeholder: "Search for First or Last Name", title: "first_name" ,:class=>"form-control search pl-1 pr-0" %>
              <button class="btn pl-1" type="submit" role="button"><i class="material-icons">search</i></button>
          </div>
          <div class="float-left">
            <input class="form-control btn btn-primary px-3" name="search_submit" type="submit" value="Search">
          </div>
          <div class="float-left ml-2">
            <%= link_to 'Clear', employees_path, class:"btn btn-primary px-3" %>
          </div>
          <div class="mr-3 float-right btn-size">
            <%= link_to 'Add Employee', new_employee_path,id: 'add_employee', class:"btn btn-primary px-5" %>
          </div>
        <% end %>

          <%if session[:task_id]%>
          <%= render 'employee.table', employees: @employees  %>
            <div class="pagination card-body float-right <%= @employees.present? && @employees.size < 11 ? 'd-none':''%>" >
            <%= will_paginate @employees %>
            </div>
          <%end%>
      </div>
    </div>
  </div>
</div>
