<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
    Thank You for submitting your data through benefitequity.plansponsorlink.com.You will be contacted if additional information is needed <br/>
    </p>
    <p>Submitted on: <%=Date.current%></p>
    <p>
      -Submission information-
    </p>
    <p>Full Name:<strong> <%= @name%></strong></p>
    <p>Email:  <strong> <%= @email%></strong></p>
    <p>Phone: <strong> <%= @phone%></strong></p>
    <p>Title: <strong><%= @title%></strong></p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
