<div class="container-fluid page__heading-container">
	<div class="page__heading d-flex align-items-center">
		<div class="flex">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb mb-0">
					<li class="breadcrumb-item"><a href=<%=root_path%>><i class="material-icons icon-20pt">home</i></a></li>
					<li class="breadcrumb-item active" aria-current="page"><a href=<%='#'%>>Tasks</a></li>
				</ol>
			</nav>
			<h1 class="m-0">View Task</h1>
		</div>
	</div>
</div>
<div class="container-fluid page__container">
	<div class="card card-form__body">
		<div class="row ">
			<div class="col-lg-12">
				<div class="row">
					<div style="display:inline-block" class="tasktable2">
						<h4 class="ml-4"><i id="collaspse-icon1" class="fa fa-caret-right mr-1 ml-2"></i>Plan</h4>
					</div>
				</div>

			</div>
			<div class="col-lg-12 ">
			<div class="table-responsive pl-2 pr-2 ">
				<table class="table mb-0 thead-border-top-0 mt-1 table-hover plantable mb-2">
					<thead class="table ">
						<tr class ="forExpand">
							<td>
								<div class="container-fluid page__container col-lg-12" style="background-color:#f3f5f6">
									<div class="row offset-md-4" style="font-size:large;" >
										<span>Currently you have no active plans </span>
									</div>
								</div>
							<td>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="container-fluid page__container mt-2">
	<div class="card card-form__body">
		<div class="row">
			<div class="col-lg-12 ">
				<div class="ml-2 my-1 float-right" style="display:none">
					<%=link_to 'Refresh',close_task_path,id:"new_task", class:"btn btn-success m-1 float-right " %>
				</div>
				<div style="display:inline-block" class="tasktable">
					<h4 class="ml-3 my-2"> <i id="collaspse-icon" class="fa fa-caret-down mr-1 "></i>Defined Benefit Pension Plan
					</h4>
				</div>
				<div class="table-responsive pl-2 pr-2">
					<table class="table mb-0 thead-border-top-0 mt-1 table-hover tasktablebody ">
						<thead class="table-info task ">
							<tr>
								<th colspan="20">Task Name</th>
								<th colspan="5">Actions</th>
							</tr>
						</thead>
						<tbody>
							<% @inactive_tasks&.each do |task| %>
								<tr class="redirect_to_show cursor-pointer" data-url=<%= task_path(task) %>>
									<td colspan="20"><%= task.task_name %></td>
									<td colspan="2">
										<a href=<%=edit_task_path(task)%>><i class="material-icons">edit</i></a>
										<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href=<%=task_path(task)%>><i
												class="material-icons">delete</i></a>
									<% if task.begin_task%>
											<td colspan="3">
												<%=link_to 'View Task',general_path(task.id),id:"begin-task",class:"btn btn-primary"%>
											</td>
									<% else %>
										<td colspan="3">
											<%=link_to 'Begin Task',general_path(task.id),id:"begin-task",class:"btn btn-success"%>
										</td>
									<%end%>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>