<div class="row">
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.text_field :name%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <%= f.select :relationship,options_for_select([ "Adopted Child", "Child","GrandChild","GrandParent","Parent","Sibling","Spouse" ], @family[:relationship]) %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <%= f.text_field :related_to,:value => current_user.username %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="actions col-lg-12">
  <div class="row">
    <div class="col-lg-5 left-move"></div>
    <div class="left-move">
      <%= f.submit value: "Save", class: "btn btn-primary"%>
    </div>
    <div class="col-lg-1 right-move"></div>
    <div class="right-move">
      <%= link_to 'Cancel', root_path, class: "btn btn-secondary " %>
    </div>
  </div>
</div>
