
	<div class="container-fluid page__heading-container">
		<div class="page__heading d-flex align-items-center">
			<div class="flex">
				<div class="row">
					<div class="col-lg-2">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
								<li class="breadcrumb-item active" aria-current="page">Family</a></li>
							</ol>
							<h1 class="m-0" <%= count()%>>Family</h1>
						</nav>
					</div>
					<!-- Stepper partial -->
					<div class="container">
						<div>
							<%= render '/shared/stepper' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid page__container">
		<div>
			<h3 class="ml-1"> Step 4 : Family Relationships :
				<div class="ml-3 mr-2 my-1 float-right">
					<%=link_to "Save",save_family_path,class: "btn btn-success " %>
				</div>
				<div class="ml-3 my-1 float-right">
					<button type="button" class="btn btn-success  px-3 notes_count" data-toggle="modal" data-target="#myModal ">Notes <%= [no_of_notes(controller_name.singularize)] %> </button>			
				</div> </h3>
		</div>
		<div class="mt-4 mb-2 ml-1">
			<span style="font-style: italic;"> Please complete all the information below for family of all the principals that are employed at your
				firm. When you have completed your changes, click the Save button to continue.</span>
		</div>
		<div class="card card-form">
			<div class="row no-gutters">
				<div class="col-lg-12 card-form__body">
					<div class="ml-3 mr-1  float-right">
						<%=link_to 'Add Family',new_family_path, class:"btn btn-primary m-1 float-right" %>
					</div>
				</div>
				<div class="col-lg-12 card-form__body">
				<div class="table-responsive pl-2 pr-2">
					<table class="table mb-0 thead-border-top-0 mt-1  table-hover">
						<thead class="table-info">
							<tr>
								<th><%= sort_link(@q, :name) %></th>
								<th><%= sort_link(@q, :relationship) %></th>
								<th><%= sort_link(@q, :related_to) %></th>
								<th colspan="1">Actions</th>
							</tr>
						</thead>
						<%if session[:task_id]%>
							<tbody>
								<% @families.each do |family| %>
									<tr class="redirect_to_show cursor-pointer" data-url=<%= family_path(family) %>>
										<td><%= family.name %></td>
										<td><%= family.relationship %></td>
										<td><%= find_related_to(family.related_to)%></td>
										<td>
											<a href=<%=edit_family_path(family)%>><i class="material-icons icon-20pt modal-edit">edit</i></a>
											<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href=<%=family_path(family)%>><i
													class="material-icons">delete</i></a>
										</td>
									</tr>
								<% end %>
							</tbody>
						<%end%>
					</table>
					</div>
				</div>
			</div>
		</div>
		<div class="pagination card-body float-right <%= @families.present? && @families.size < 11 ? 'd-none':''%>" >
			<%= will_paginate @families %>
		</div>
	</div>
