<div class="container-fluid full-scroll">
 <div class="page__heading cancel-row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
        <li class="breadcrumb-item active" aria-current="page">Family</a></li>
      </ol>
    </nav>
    <div class="row">
      <div style="display:inline-block" class=" col-lg-4  w-50 p-12 px-md-1 ">
      <h1 class="ml-3">View Family</h1> 
      </div>
      <div class="col-lg-2 offset-lg-6">
        <%=link_to 'New Family',new_family_path, class:"btn btn-primary m-1 float-right" %>
      </div>
    </div>
  </div>
  <table class="table mb-0 thead-border-top-0 mt-1  table-hover">
    <thead class="table-info">
      <tr>
        <th>Name</th>
        <th>Relationship</th>
        <th>Related to</th>
        <th colspan="1">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @families.each do |family| %>
        <tr class ="redirect_to_show cursor-pointer" data-url=<%= family_path(family) %>>
          <td><%= family.name %></td>
          <td><%= family.relationship %></td>
          <td><%= family.related_to %></td>
          <td>
          <a href=<%=edit_family_path(family)%> ><i class="material-icons icon-20pt modal-edit">edit</i></a>
          <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href=<%=family_path(family)%>><i class="material-icons">delete</i></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
