<%questions.each_with_index do |fifty_five, index|%>
  <div class="row" >
    <div class="col-lg-9" >
      <%=f.label 'question'+(index+1).to_s,fifty_five,class: "text-transform: none" %>
    </div>
    <div class="col-lg-3 error_div">
      <input type=hidden name='questionaire_answer[id][]' value= <%=get_id(index)%> />
			<%if index==3%>
				<%=number_field_tag "questionaire_answer[answer][][#{index}]" ,get_value(index), id: "question_answer_#{index}" ,class: :"date-class question_four#{index} ", prompt: 'Select One' %>
			<%else%>
				<%=select_tag "questionaire_answer[answer][][#{index}]",options_for_select(["Yes","No"], get_value(index) ), id: "question_answer_#{index}",class: :"question_field#{index} required",  prompt: 'Select One' %>
			<%end%>
				<br>
      <div class="invalid-feedback">Please provide a time.</div>
      <div class="valid-feedback">Looks good!</div>
    </div>
  </div>
<%end%>

<div class="actions col-lg-12">
  <div class="row">
    <div class="col-lg-5 left-move"></div>
    <div class="left-move">
      <%= f.submit value: "Save",data: { disable_with: "5500" }, class: "btn btn-primary check_field" %>
    </div>
   
  </div>
</div>
