	<div class="container-fluid page__heading-container">
		<div class="page__heading d-flex align-items-center">
			<div class="flex">
				<div class="row">
					<div class="col-lg-2">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
								<li class="breadcrumb-item active" aria-current="page">Plan</a></li>
							</ol>
							<h1 class="m-0" <%= count()%>>Plan</h1>
						</nav>
					</div>
					<!-- Stepper partial -->
					<div class="container">
						<div>
							<%= render '/shared/stepper' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid page__container">
		<div>
			<h3> Step 7 : Annual Employer Questionnaire : </h3>
		</div>
		<div class="mt-4 mb-2">
			<span style="font-style: italic;"> Please provide answers to the list of questions below. Click the Save button to
				save your answers and
				continue to next step.</span>
		</div>
		<div class="card card-form">
			<div class="row no-gutters">
				<div class="col-lg-12 card-form__body">
					<div class="plan_flash_message float-left">
						<% if action_name == 'edit_plan'%>
							<%= render 'layouts/stack/flashmessage' %>	
						<% end %>
					</div>
					<div class="ml-3 my-1 mr-2 float-right">
						<button type="button" class="btn btn-success px-3 submit-plan" > Save</button>			
					</div>
					<div class="mr-2 my-1 float-right">
			
						<button type="button" class="btn btn-success px-3 ml-3 notes_count" data-toggle="modal" data-target="#myModal">Notes
							<%= [no_of_notes("plan")] %>
						</button>
					</div>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-lg-12 card-form__body card-body" style="padding-left: 0.5em;padding-right: 0.5em;  ">
					<%= bootstrap_form_for(@questionaire_answer.first,:url => { :action => "update_plan" },   html: {id: "plan_form"})do |f| %>
					<%=render 'plans_form', f: f %>
					<% end %>
				</div>
			</div>
		</div>
	</div>