<div class="employee_index_scroll">
	<div class="container-fluid page__heading-container">
		<div class="page__heading d-flex align-items-center">
			<div class="flex">
				<div class="row">
					<div class="col-lg-2">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
								<li class="breadcrumb-item active" aria-current="page">5500</a></li>
							</ol>
							<h1 class="m-0" <%= count()%>>5500</h1>
						</nav>
					</div>
					<!-- Stepper partial -->
					<div class="container">
						<div>
							<%= render '/shared/stepper' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid page__container">
		<div>
			<h3> Step 8 : 5500 Questionnaire : </h3>
		</div>
		<div class="mt-4 mb-2">
			<span style="font-style: italic;"> Please provide answers to the list of questions below. Click the Save button to save your answers and
				continue to next step.</span>
		</div>
		<div class="card card-form">
			<div class="row no-gutters">
				<div class="col-lg-12 card-form__body">
					<div class="ml-3  float-right">
						
						<div class="mr-2 my-1 float-right">
							<button type="button" class="btn btn-success  px-3 notes_count" data-toggle="modal" data-target="#myModal">Notes <%=  [no_of_notes("5500")] %>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-lg-12 card-form__body card-body" style="padding-left: 0.5em;padding-right: 0.5em;  ">
					<%= bootstrap_form_for(@questionaire_answer,:url => { :action => "create_fifty_five_hundred" }, local:true)do |f| %>
					<%=render '5500_form', f: f %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>