<div class="employee_index_scroll">
	<div class="container-fluid page__heading-container">
		<div class="page__heading d-flex align-items-center">
			<div class="flex">
				<div class="row">
					<div class="col-lg-2">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
								<li class="breadcrumb-item active" aria-current="page">5500</a></li>
							</ol>
							<h1 class="m-0" <%= count()%>>5500</h1>
						</nav>
					</div>
					<!-- Stepper partial -->
					<div class="container">
						<div>
							<%= render '/shared/stepper' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid page__container">
		<div>
			<h3> Step 8 : 5500 Questionnaire : </h3>
		</div>
		<div class="mt-4 mb-2">
			<span> Please provide answers to the list of questions below.Click the Save button to save your answers and
				continue to next step</span>
		</div>
		<div class="card card-form">
			<div class="row no-gutters">
				<div class="col-lg-12 card-form__body">
					<div class="ml-3  float-right">
						<%if !is_question_exist?%>
						<div class="ml-3  float-right">
							<%=link_to 'Add New 5500',fifty_five_hundred_new_path, class:"btn btn-primary m-1 float-right" %>
						</div>
						<%end%>
						<div class="ml-2 my-1 float-right">
							<button type="button" class="btn btn-success  px-3" data-toggle="modal" data-target="#myModal">Notes
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-12 card-form__body">
					<table class="table mb-0 thead-border-top-0 mt-1  table-hover">
						<thead class="table-info">
							<tr>
								<th scope="col">Question1</th>
								<th scope="col">Question2</th>
								<th scope="col">Question3</th>
								<th scope="col">Question4</th>
								<th scope="col">Question5</th>
								<th scope="col">Question6</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>
							<%if is_question_exist?%>
							<tr>
								<%@questionaire_answers.each do |plan|%>
								<td><%=plan.answer%></td>
								<%end%>
								<td><a href=<%=edit_fifty_five_hundred_path(fifty_five_hundred_edit)%>><i
											class="material-icons icon-20pt modal-edit">edit</i></a></td>
							</tr>
							<%end%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>