<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @questionaire_answer.question %>
</p>

<p>
  <strong>References:</strong>
  <%= @questionaire_answer.references %>
</p>

<p>
  <strong>References:</strong>
  <%= @questionaire_answer.references %>
</p>

<%= link_to 'Edit', edit_questionaire_answer_path(@questionaire_answer) %> |
<%= link_to 'Back', questionaire_answers_path %>
