<div class="container-fluid page__heading-container">
  <div class="page__heading d-flex align-items-center">
    <div class="flex">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href=<%='#'%>><i class="material-icons icon-20pt">home</i></a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href=<%='project_tasks'%>>Project Task</a></li>
        </ol>
      </nav>
      <h1 class="m-0">View Project Tasks</h1>
    </div>
  </div>
</div>
  <div class="container-fluid page__container"  >
    <div class="card card-form__body">
      <div class= "row">
        <div class="col-lg-2 offset-lg-10">
          <%=link_to 'Add New Project Task',new_project_task_path, class:"btn btn-primary m-1 float-right" ,:style => "width:100%"  %>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table mb-0 thead-border-top-0 mt-1  table-hover">
          <thead class="table-info">
            <tr>
              <th>Task</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @project_tasks.each do |project_task| %>
              <tr class="redirect_to_show cursor-pointer" data-url=<%= project_task_path(project_task) %>>
                <td><%= project_task.task %></td>
                <td>
                  <a href=<%=edit_project_task_path(project_task)%> ><i class="material-icons">edit</i></a>
                  <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href=<%=project_task_path(project_task)%>><i class="material-icons">delete</i></a></tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
