 <div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <label for="principal_name">Name <span class="required"></span></label>
    <%= f.text_field :name,hide_label: true %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
  	<label for="principal_title">Title <span class="required"></span></label>
    <%=f.select :title,options_for_select([ "Managing Partner", "Note Title", "Other Title", "Partner", "President" , "Secretary" , "Treasurer" , "Vice-President"], @principal[:title]) , { :include_blank => '-- Select One --' ,hide_label: true}  %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>

<div class="row mt-3" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <%= f.check_box :officer  %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>

<div class="row mt-4" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <label for="principal_ownership">Ownership <span class="required"></span></label>
    <%= f.number_field :ownership,hide_label: true, min:'0' %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="actions col-lg-12">
  <div class="row">
    <div class="col-lg-5 left-move"></div>
    <div class="left-move">
      <%= f.submit value: "Save", class: "btn btn-primary"%>
    </div>
    <div class="ml-2">
      <%= link_to 'Cancel', principals_path, class: "btn btn-secondary " %>
    </div>
  </div>
</div>
