
	<div class="container-fluid page__heading-container">
		<div class="page__heading d-flex align-items-center">
			<div class="flex">
				<div class="row">
					<div class="col-lg-2">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
								<li class="breadcrumb-item active" aria-current="page">Principal</a></li>
							</ol>
							<h1 class="m-0" <%= count()%>>Principals</h1>
						</nav>
					</div>
					<!-- Stepper partial -->
					<div class="container">
						<div>
							<%= render '/shared/stepper' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid page__container">
		<div>
			<h3> Step 3 : Principals 
				<div class="ml-3 my-1 float-right">
					<%=link_to "Save",save_principal_path,class: "btn btn-success " %>
				</div> 
				<div class="ml-3 my-1 float-right">
					<button type="button" class="btn btn-success  px-3 notes_count" data-toggle="modal" data-target="#myModal ">Notes  <%= [no_of_notes(controller_name.singularize)] %> </button>			
				</div>
			</h3>
		</div>
		<div class="mt-4 mb-2">
			<span style="font-style: italic;"> Please complete the list of owners and/or officer in your firm.If you are a non-profit organization , Please
				make one entry using your Company Name, no title and 100% for ownership. The ownership percentage total will need
				to be 100% or higher. When you have completed your changes, click the save button to continue.</span>
		</div>
		<div class="card card-form">
			<div class="row no-gutters">
				<div class="col-lg-12 card-form__body">
					<div class="ml-3  float-right">
						<%=link_to 'Add Principal',new_principal_path, class:"btn btn-primary m-1 float-right" %>
					</div>
				</div>

				<%if calculate_total_ownership<100 %>
				<div class="container-fluid page__container col-lg-12" style="background: yellow;padding-top:0px;">
					<div class="row" style="color:red;">
						<div class="col-lg-4"></div>
						<span>Total Ownership must be equal to or greater than 100 % </span>
					</div>
				</div>
				<%end%>
				<div class="col-lg-12 card-form__body">
					<table class="table mb-0 thead-border-top-0 mt-1  table-hover">
						<thead class="table-info">
							<tr>
								<th><%= sort_link(@q, :name) %></th>
								<th><%= sort_link(@q, :title) %></th>
								<th><%= sort_link(@q, :officer) %></th>
								<th><%= sort_link(@q, :ownership) %></th>
								<th colspan="1">Actions</th>
							</tr>
						</thead>
						<%if session[:task_id]%>
						<tbody>
							<% @principals.each do |principal| %>
								<tr class="redirect_to_show cursor-pointer" data-url="<%= principal_path(principal) %>">
									<td><%= principal.name %></td>
									<td><%= principal.title %></td>
									<td><%= principal_officer(principal.officer) %></td>
									<td><%= principal.ownership.to_s+"%" %></td>
									<td>
										<a href=<%=edit_principal_path(principal)%>><i
												class="material-icons icon-20pt modal-edit">edit</i></a>
										<a data-confirm="Are you sure?" rel="nofollow" data-method="delete"
											href=<%=principal_path(principal)%>><i class="material-icons">delete</i></a>
									</td>
								</tr>
							<% end %>
							<tr style="background-color:#FFEBCD;"><td></td><td></td><td></td><td><%= calculate_total_ownership.to_s+"%"%></td><td></td>
							</tr>
						</tbody>
						<%end%>
					</table>
				</div>
			</div>
		</div>
			<div class="pagination card-body float-right mb-4" >
				<%= will_paginate @principals %>
			</div>
	</div>