<div class="container-fluid full-scroll">
	<div class="page__heading cancel-row">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
				<li class="breadcrumb-item active" aria-current="page">Principal</a></li>
			</ol>
		</nav>
		<div class="row">
			<div style="display:inline-block" class=" col-lg-4  w-50 p-12 px-md-1 ">
				<h1 class="ml-3">View Principals</h1>
			</div>
		</div>
	</div>
	<div class="card card-form">
		<div class="row no-gutters">
			<div class="col-lg-12 card-form__body">
				<div class="ml-3  float-right">
					<%=link_to 'Add Principal',new_principal_path, class:"btn btn-primary m-1 float-right" %>
				</div>
				<div class="ml-2 my-1 float-right">
					<button type="button" class="btn btn-success  px-3" data-toggle="modal"
						data-target="#new_approval ">Notes
					</button>
				</div>
			</div>
			<div class="container-fluid page__container"  > 
				<div>
					<h3> Step 3 : Principals </h3> 
				</div>
				<div class="mt-4 mb-2">
					<span > Please complete the list of owners and/or officer in your firm </span>
				</div>
			</div>
			<div class="col-lg-12 card-form__body">
				<table class="table mb-0 thead-border-top-0 mt-1  table-hover">
					<thead class="table-info">
						<tr>
							<th>Name</th>
							<th>Title</th>
							<th>Officer</th>
							<th>Ownership</th>
							<th colspan="1">Actions</th>
						</tr>
					</thead>
					<%if session[:task_id]%>
					<tbody>
						<% @principals.each do |principal| %>
						<tr class="redirect_to_show cursor-pointer" data-url="<%= principal_path(principal) %>">
							<td><%= principal.name %></td>
							<td><%= principal.title %></td>
							<td><%= principal.officer %></td>
							<td><%= principal.ownership %></td>
							<td>
								<a href=<%=edit_principal_path(principal)%>><i class="material-icons icon-20pt modal-edit">edit</i></a>
								<a data-confirm="Are you sure?" rel="nofollow" data-method="delete"
									href=<%=principal_path(principal)%>><i class="material-icons">delete</i></a>
							</td>
						</tr>
						<% end %>
					</tbody>
					<%end%>
				</table>
			</div>
		</div>
	</div>
</div>