<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @principal.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @principal.title %>
</p>

<p>
  <strong>Officer:</strong>
  <%= @principal.officer %>
</p>

<p>
  <strong>Ownership:</strong>
  <%= @principal.ownership %>
</p>

<%= link_to 'Edit', edit_principal_path(@principal) %> |
<%= link_to 'Back', principals_path %>
