<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <%= f.text_field :username %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
  <%= f.email_field :email, placeholder: 'Email' %>
    <div class="invalid-feedback">Please provide a email.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
  <%#kadjkjad%>
    <%= f.select :name,options_for_select(@roles.collect{ |u| [u.name, u.id]},resource_available) %>
    <div class="invalid-feedback">Please select a role .</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
  <% if action_name == 'edit' %>
    <%= f.password_field :password, hint: 'To keep the current password leave the password fields blank.' %>
  <% else %>
    <%= f.password_field :password %>
  <% end %>
    <div class="invalid-feedback">Please provide a correct password.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
  <%= f.password_field :password_confirmation %>
    <div class="invalid-feedback">Please provide a same password.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
  <div class="row">
    <div class="col-lg-1 offset-lg-4">
      <%= f.submit value: "Save", class: "btn btn-primary"%>
    </div>
    <div class="col-lg-1 offset-lg-1">
      <%= link_to 'Cancel', root_path, class: "btn btn-secondary " %>
    </div>
</div>
