<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <label for="old">Old Password <span class="required"></span></label>
    <%= f.password_field :password,name: :old_password,hide_label: true %>
    <div class="invalid-feedback">Please provide a correct password.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>

<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
  <label for="new">New Password <span class="required"></span></label>
  <%= f.password_field :password,hide_label: true %>
    <div class="invalid-feedback">Please provide a same password.</div>
  </div>
</div>

<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
  <label for="confirm">Confirm New Password <span class="required"></span></label>
  <%= f.password_field :password_confirmation,hide_label: true %>
    <div class="invalid-feedback">Please provide a same password.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>

<div class="actions col-lg-12">
  <div class="row">
    <div class="col-lg-5 left-move  my-2"></div>
    <div class="left-move my-2 ml-2">
      <%= f.submit value: "Update", class: "btn btn-primary"%>
    </div>
    <div class="right-move my-2 ml-2">
      <%= link_to 'Cancel', root_path, class: "btn btn-secondary " %>
    </div>
  </div>
</div>
