<div class="container-fluid full-scroll">
 <div class="page__heading cancel-row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
        <li class="breadcrumb-item active" aria-current="page">User</a></li>
      </ol>
    </nav>
    <div style="display:inline-block" class=" col-md-4  w-50 p-12 px-md-1 ">
     <h1>View User</h1> <%=link_to 'Add New User',new_user_path, class:"btn btn-primary" %>
    </div>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Role Type</th>
        <th colspan="1">Actions</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tbody>
        <tr data-link="<%= user_path(user) %>">
          <td><%=user.username%></td>
          <td><%=user.email%></td>
          <td><%=user.roles.pluck(:name).join(', ')%></td>
          <td>
          <i class="material-icons icon-20pt"><%= link_to 'edit', edit_user_path(user) %></i>
          <i class="material-icons icon-20pt"><%= link_to 'delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></i></td>
        </tr>
      </tbody>
    <%end%>
  </table>
</div>
