<div class="container">
 
  <% if @users.empty? %>
    <p> No users found.</p>
  <% else %>
    <% @users.each do |p| %>
      <div class="dt.col-sm-3">ID
        | &nbsp;::&nbsp;
        <%=p.id%>
      </div>
      <div class="dt.col-sm-3">Name
        | &nbsp;::&nbsp;
        <%=p.name%>
      </div>
      <div class="dt.col-sm-3">Email
        | &nbsp;::&nbsp;
        <%=p.email%>
      </div>
      <div class="dt.col-sm-3">Role
        | &nbsp;::&nbsp;
        <%=p.role%>
      </div>
      <div class="dt.col-sm-3">Created at
        | &nbsp;::&nbsp;
        <%=p.created_at%>
      </div>
      <div class="dt.col-sm-3">Updated at
        | &nbsp;::&nbsp;
        <%=p.updated_at%>
      </div>
      <br>


    <%end%>

  <% end %>
</div>
