<div class="full-scroll">
  <div class="container-fluid page__heading-container">
  <div class="page__heading d-flex align-items-center">
    <div class="flex">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href=<%='#'%>><i class="material-icons icon-20pt">home</i></a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href=<%='#'%>>Users</a></li>
        </ol>
      </nav>
      <h1 class="m-0">Users</h1>
    </div>
  </div>
  </div>

  <div class="container-fluid page__container"  > 
    <div class="card card-form__body">
      <div class= "row ">

        <div class = "col-lg-2 offset-lg-10 ">
          <%=link_to 'Add New User',new_user_path, class:"btn btn-primary float-right m-1" %>
        </div>
      </div>
        <div class = "table-responsive">
          <table class="table mb-0 thead-border-top-0 mt-1 " id = "dataTable">
            <thead class="table-info">
              <tr>
              <th><%= sort_link(@q, :username) %></th>
              <th><%= sort_link(@q, :email) %></th>
              <th scope="col">Role Type</th>
                <th colspan="1">Actions</th>
               </tr>
            </thead>

            <tbody >
              <% @users.each do |user| %>
                  <tr class="redirect_to_show cursor-pointer" data-url=<%= user_path(user) %>>
                    <td ><%=user.username%></td>
                    <td ><%=user.email%></td>
                    <td ><%=user.roles.pluck(:name).join(', ')%></td>
                    <td>
                      <a href=<%=edit_user_path(user)%> ><i class="material-icons">edit</i></a>
                      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href=<%=user_path(user)%>><i class="material-icons">delete</i></a>
                    </td>
                  </tr>
              <%end%>
            </tbody>
          </table>
        </div> 
    </div> 
  </div>

  <div class="pagination card-body float-right" >
    <%= will_paginate @employees %>
  </div>

</div>
