<div class="container-fluid page__heading-container" id="show-view">
<div class="page__heading d-flex align-items-center">
  <div class="flex">
    <h1 class="m-0"><%= @resource.username %></h1>
  </div>
</div>
</div>

<div class="container-fluid page__container"  > 
  <div class= "row ">
  <div class="col-lg-5">
  <div class="card card-form__body">
    <div class = "table-responsive">
      <table class="table mb-0 thead-border-top-0 mt-1  table-hover table-bordered">
        <tbody>
          <tr>
            <td> id </td>
            <td> <%=@resource.id%> </td>
          </tr>
          <tr>
            <td> username </td>
            <td> <%=@resource.username%> </td>
          </tr>
          <tr>
            <td> email </td>
            <td> <%=@resource.email %> </td>
          </tr>
          <tr> 
            <td> role </td> 
            <td> <%=@resource.roles.pluck(:name)%> </td>
           </tr> 
          <tr> 
            <td> created_at </td> 
            <td> <%=@resource.created_at %>
          </tr> 
          <tr> 
            <td> updated_at </td> 
            <td> <%=@resource.updated_at %>
          </tr>        
        </tbody>
       </table>
      </div>
    </div> 
    </div>
</div> 
</div>
