<div class="row bs-wizard" style="border-bottom:0;">
	
	<div class="col-md-1 bs-wizard-step <%= wizard_step_status([@address, @contact_number])  %>">
		<a href=<%='generals'%>		</a>
		<div class="text-center bs-wizard-stepnum">General</div>
		<div class="progress">
			<div class="progress-bar"></div>
		</div>
		<a href="#" class="bs-wizard-dot"></a>
	</div>


	<div class="col-md-1 bs-wizard-step <%= wizard_step_status(@company) %>">
		<!-- complete -->
		<a href=<%='companies/new'%>		</a>
		<div class="text-center bs-wizard-stepnum">Company</div>
		<div class="progress">
			<div class="progress-bar"></div>
		</div>
		<a href="#" class="bs-wizard-dot"></a>
	</div>
	<div class="col-md-1 bs-wizard-step <%=  wizard_step_status(@principal) %>">
		<!-- complete -->
		<a href=<%='principals'%>		</a>
		<div class="text-center bs-wizard-stepnum">Principals</div>
		<div class="progress">
			<div class="progress-bar"></div>
		</div>
		<a href="#" class="bs-wizard-dot"></a>
	</div>

	<div class="col-md-1 bs-wizard-step <%=  wizard_step_status(@family) %>">
		<!-- complete -->
		<a href=<%='families'%>		</a>
		<div class="text-center bs-wizard-stepnum">Family</div>
		<div class="progress">
			<div class="progress-bar"></div>
		</div>
		<a href="#" class="bs-wizard-dot"></a>
	</div>
	<div class="col-md-1 bs-wizard-step <%= wizard_step_status(@business) %>">
		<!-- complete -->
		<a href=<%='businesses'%>		</a>
		<div class="text-center bs-wizard-stepnum">Businesses</div>
		<div class="progress">
			<div class="progress-bar"></div>
		</div>
		<a href="#" class="bs-wizard-dot"></a>
	</div>

	<div class="col-md-1 bs-wizard-step <%= wizard_step_status(@contact) %>">
		<!-- complete -->
		<a href=<%='contacts'%>		</a>
		<div class="text-center bs-wizard-stepnum">Contacts</div>
		<div class="progress">
			<div class="progress-bar"></div>
		</div>
		<a href="#" class="bs-wizard-dot"></a>
	</div>

	<div class="col-md-1 bs-wizard-step <%= wizard_step_status(@plan) %>">
		<!-- complete -->
		<a href=<%='plans_new'%>		</a>
		<div class="text-center bs-wizard-stepnum">Plan</div>
		<div class="progress">
			<div class="progress-bar"></div>
		</div>
		<a href="#" class="bs-wizard-dot"></a>
	</div>
	<div class="col-md-1 bs-wizard-step <%= wizard_step_status(@fifty_five_hundred) %>">
		<a href=<%='5500'%>		</a>
		<div class="text-center bs-wizard-stepnum">5500</div>
		<div class="progress">
			<div class="progress-bar"></div>
		</div>
		<a href="#" class="bs-wizard-dot"></a>
	</div>
	<div class="col-md-1 bs-wizard-step <%= wizard_step_status(@employee)  %>">
		<!-- complete -->
		<a href=<%='employees'%>		</a>
		<div class="text-center bs-wizard-stepnum">Employee</div>
		<div class="progress">
			<div class="progress-bar"></div>
		</div>
		<a href="#" class="bs-wizard-dot"></a>
	</div>
</div>