<div class="container-fluid full-scroll">
	<div class="page__heading cancel-row">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
				<li class="breadcrumb-item active" aria-current="page">Change Request</a></li>
			</ol>
		</nav>
		<div class="row">
			<div style="display:inline-block" class=" col-lg-4  w-50 p-12 px-md-1 ">
				<h1 class="ml-3">View Request</h1>
			</div>
		</div>
	</div>
	<div class="container-fluid page__container">
		<div class="mt-4 mb-2">
			<span> BEI support from PP Contact Change Request</span>
    </div>
	</div>
	<div class="card card-form">
		<div class="row no-gutters">
			<div class="col-lg-12 card-form__body">
        <div class="ml-3  float-right">
          <%=link_to 'Add',new_contact_path, class: "btn btn-secondary m-1 float-right" %>
        </div>
				<table class="table mb-0 thead-border-top-0 mt-1  table-hover">
					<thead class="table-info">
						<tr>
              <th><%= sort_link(@q, :created_by) %></th>
              <th><%= sort_link(@q, :date) %></th>
							<th><%= sort_link(@q, :change_request) %></th>
              <th>Actions</th>
						</tr>
					</thead>
					<%if session[:task_id]%>
						<tbody>
							<% @contact_change_requests.each do |contact_change_request|%>
								<%if find_tasks(contact_change_request)%>
                  <tr>
                    <td><%=find_created_by_user(contact_change_request)%></td>
                    <td><%=contact_change_request.date%></td>
                    <td><%=contact_change_request.change_request%></td>
                    <td>
                      <a href=<%=edit_contact_path(contact_change_request)%>><i class="material-icons icon-20pt modal-edit">edit</i></a>
                      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href=<%=contact_path(contact_change_request)%>><i
                          class="material-icons">delete</i></a>
                    </td>
                  </tr>
                <%end%>
							<%end%>
						</tbody>
					<%end%>
				</table>
			</div>
		</div>
	</div>
</div>