	<div class="page__heading cancel-row">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
				<li class="breadcrumb-item active" aria-current="page">Change Request</a></li>
			</ol>
		</nav>
		<div class="row">
			<div style="display:inline-block" class=" col-lg-4  w-50 p-12 px-md-1 ">
				<h1 class="ml-3">View Request</h1>
			</div>
		</div>
	</div>
		<div class="ml-0 mt-4 mb-2">
			<span style="font-style: italic;"> BEI support from PP Contact Change Request</span>
    </div>
	<div class="card card-form">
		<div class="row no-gutters">
			<div class="col-lg-12 card-form__body">
        <div class="ml-3  float-right">
          <%=link_to 'Add',new_contact_path, class: "btn btn-primary" %>
        </div>
				<table class="table mb-0 thead-border-top-0 mt-1  table-hover">
					<thead class="table-info">
						<tr>
              <th><%=sort_link(@q,:contact_change_request_created_by,'Created By',default_order: :desc)%></th>
              <th><%=sort_link(@q,:contact_change_request_date,'Date')%></th>
							<th><%=sort_link(@q,:contact_change_request_change_request,'Change Request',default_order: :desc)%></th>
              <th>Actions</th>
						</tr>
					</thead>
					<%if session[:task_id]%>
						<tbody>
							<% @change_request_mappings.each do |change_request_mapping|%>
								<tr>
									<td><%=find_created_by_user(change_request_mapping)%></td>
									<td><%=change_request_mapping.contact_change_request.date%></td>
									<td><%=change_request_mapping.contact_change_request.change_request%></td>
									<td>
										<a href=<%=edit_contact_path(change_request_mapping)%>><i class="material-icons icon-20pt modal-edit">edit</i></a>
										<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href=<%=contact_path(change_request_mapping)%>><i
											class="material-icons">delete</i></a>
									</td>
								</tr>
							<%end%>
						</tbody>
					<%end%>
				</table>
			</div>
		</div>
	</div>
	<div class="pagination card-body float-right <%= @change_request_mappings.present? && @change_request_mappings.size < 11 ? 'd-none':''%>" >
		<%= will_paginate @change_request_mappings %>
	</div>
