<div class="container-fluid full-scroll">
	<div class="page__heading cancel-row">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
				<li class="breadcrumb-item active" aria-current="page">Contact</a></li>
			</ol>
		</nav>
		<div class="row">
			<div style="display:inline-block" class=" col-lg-4  w-50 p-12 px-md-1 ">
				<h1 class="ml-3">View Contact</h1>
			</div>
		</div>
	</div>
	<div class="container-fluid page__container">
		<div>
			<h3> Step 6 : Contacts : </h3>
		</div>
		<div class="mt-4 mb-2">
			<span> Please verify the list of contacts that are associated with your plan.To notify us of change that need to
				be made, click the Add button in the upper right corner of the grid to notify your change.When you have
				completed your change request.Once you have reviewed the list, click the Save button</span>
		</div>
	</div>
	<div class="card card-form">
		<div class="row no-gutters">
			<div class="col-lg-12 card-form__body">
				<div class="ml-3  float-right">
					<%=link_to 'Add Contact',new_contact_path, class:"btn btn-secondary 	 m-1 float-right" %>
				</div>
				<div class="ml-2 my-1 float-right">
					<button type="button" class="btn btn-success  px-3" data-toggle="modal" data-target="#myModal ">Notes
					</button>
				</div>
			</div>
			<div class="col-lg-12 card-form__body">
				<table class="table mb-0 thead-border-top-0 mt-1  table-hover">
					<thead class="table-info">
						<tr>
							<th>Name</th>
							<th>Company name</th>
							<th>Email</th>
							<th>Roles</th>
							<th>Rights</th>
						</tr>
					</thead>
					<%if session[:task_id]%>
					<tbody>
						<% @roles_rights.each do |roles_right| %>
						<%if roles_right.role.user.present?%>
						<tr>
							<td><%= roles_right.role.user.username%></td>
							<td><%= "Benefit Equity Inc" %></td>
							<td><%= roles_right.role.user.email  %></td>
							<td><%= roles_right.role.name %></td>
							<td><%= parse_json_array(roles_right.role_type) %></td>
						</tr>
						<%end%>
						<% end %>
					</tbody>
					<%end%>
				</table>
			</div>
		</div>
	</div>
</div>