<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @contact.company_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Roles:</strong>
  <%= @contact.roles %>
</p>

<p>
  <strong>Rights:</strong>
  <%= @contact.rights %>
</p>
