<div class ="employee-form-scroll" > 
  <div class="container-fluid page__heading-container">
    <div class="page__heading d-flex align-items-center">
      <div class="flex">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href=<%= root_path %>><i class="material-icons icon-20pt">home</i></a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href=<%= approvals_path %>>Approval</a></li>
          </ol>
        </nav>
        <h1 class="m-0">Document</h1>
      </div>
   </div>
  </div>

  <div class="container-fluid page__container"  > 
    <div class= "row ">
    <div class="col-lg-5">
    <div class="card card-form__body">
      <div class = "table-responsive">
        <table class="table mb-0 thead-border-top-0 mt-1  table-hover table-bordered">
          <tbody>
            <tr>
              <td> FileName </td>
              <td> <%=@document.doc.filename%> </td>
            </tr>
            <tr>
              <td>  Type </td>
              <td> <%=@document.document_type%> </td>
            </tr>
            <tr>
              <td> Description </td>
              <td> <%=@document.description %> </td>
            </tr>
            <tr> 
              <td> created_at </td> 
              <td> <%=@document.created_at %>
            </tr> 
            <tr> 
              <td> updated_at </td> 
              <td> <%=@document.updated_at %>
            </tr>        
          </tbody>
        </table>
      </div>
    </div> 
    </div>
    </div>
    </div> 
</div>