<div class="container-fluid page__heading-container">
  <div class="page__heading d-flex align-items-center">
    <div class="flex">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href=<%='#'%>><i class="material-icons icon-20pt">home</i></a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href=<%='#'%>>Projects</a></li>
        </ol>
      </nav>
      <h1 class="m-0">View Project</h1>
    </div>
  </div>
</div>
  <div class="container-fluid page__container"  >
    <div class="card card-form__body">
      <div class= "row">
        <div class="col-lg-2 offset-lg-10">
          <%=link_to 'Add New Project',new_project_path, class:"btn btn-primary m-1 float-right" %>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table mb-0 thead-border-top-0 mt-1  table-hover">
          <thead class="table-info">
            <tr>
              <th><%= sort_link(@q, :name) %></th>
              <th >Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @projects.each do |project| %>
              <tr class="redirect_to_show cursor-pointer" data-url=<%= project_path(project) %>>
                <td><%= project.name %></td>
                <td>
                  <a href=<%=edit_project_path(project)%> ><i class="material-icons">edit</i></a>
                  <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href=<%=project_path(project)%>><i class="material-icons">delete</i></a></tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="pagination card-body float-right mb-4 <%= @projects.size < 11 ? 'd-none':''%>" >
    <%= will_paginate @projects%>
  </div>
</div>
