<div class="employee_index_scroll">
	<div class="container-fluid page__heading-container">
		<div class="page__heading d-flex align-items-center">
			<div class="flex">
				<div class="row">
					<div class="col-lg-2">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
								<li class="breadcrumb-item active" aria-current="page"> Company</li>
							</ol>
							<h1 class="m-0" <%= count()%>>Company</h1>
						</nav>
					</div>
					<!-- Stepper partial -->
					<div class="container">
						<div>
							<%= render '/shared/stepper' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid page__container">
		<div>
			<h3> Step 2 : Employer Company Data : 
				<div class="ml-3 my-1 float-right">
					<%=link_to "Save",save_company_path,class: "btn btn-success " %>
				</div> 
				<div class="ml-3 my-1 float-right">
					<button type="button" class="btn btn-success  px-3" data-toggle="modal" data-target="#myModal ">Notes <%= [no_of_notes(controller_name.singularize)] %> </button>			
				</div>
			</h3>
		</div>
		<div class="mt-4 mb-2">
			<span style="font-style: italic;"> Please review the Employer Data below and complete or update existing information as necessary. When you
				have completed your changes, click the Save button to continue.</span>
		</div>

		<div class="card card-">
			<div class="row no-gutters">
				<div class="col-lg-12 card-form__body card-body">
					<%= bootstrap_form_with(model:@company, local:true) do |f| %>
					<% if @company.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(@company.errors.count, "error") %> prohibited this user from being saved:</h2>
						<ul>
							<% @company.errors.full_messages.each do |message| %>
							<li><%= message %></li>
							<% end %>
						</ul>
					</div>
					<% end %>
					<%=render 'form', f: f %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>