<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Company name</th>
      <th>Ein</th>
      <th>Fiscal year end</th>
      <th>Entity type</th>
      <th>Naic code</th>
      <th>Payroll provider</th>
      <th>Payroll frequency</th>
      <th colspan="1">Actions</th>
      <th><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_family">Add</button></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.company_name %></td>
        <td><%= company.ein %></td>
        <td><%= company.fiscal_year_end %></td>
        <td><%= company.entity_type %></td>
        <td><%= company.naic_code %></td>
        <td><%= company.payroll_provider %></td>
        <td><%= company.payroll_frequency %></td>
        <td><i class="material-icons icon-20pt"><%= link_to 'slideshow', company %></i>
        <i class="material-icons icon-20pt"><%= link_to 'edit', edit_company_path(company) %></i>
        <i class="material-icons icon-20pt"><%= link_to 'delete', company, method: :delete, data: { confirm: 'Are you sure?' } %></i></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="modal fade" id="new_family" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:35%" position="" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="page__heading">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
              <li class="breadcrumb-item active" aria-current="page">Contacts</a></li>
            </ol>
          </nav>
        </div>
        <h5 class="modal-title" id="exampleModalLabel">Add New Contacts</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_with(url:companies_path,model:@company, local:true) do |f| %>
          <%=render 'form', f: f %>
        <% end %>
      </div>
    </div>
  </div>
</div>
