<div class="full-scroll">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Company name</th>
        <th>Ein</th>
        <th>Fiscal year end</th>
        <th>Entity type</th>
        <th>Naic code</th>
        <th>Payroll provider</th>
        <th>Payroll frequency</th>
        <th colspan="1">Actions</th>
        <th><%=link_to 'Add Company',new_company_path, class:"btn btn-primary" %></th>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= company.company_name %></td>
          <td><%= company.ein %></td>
          <td><%= company.fiscal_year_end %></td>
          <td><%= company.entity_type %></td>
          <td><%= company.naic_code %></td>
          <td><%= company.payroll_provider %></td>
          <td><%= company.payroll_frequency %></td>
          <td>
          <i class="material-icons icon-20pt modal-edit"><%= link_to 'edit', edit_company_path(company) %></i>
          <i class="material-icons icon-20pt"><%= link_to 'delete', company, method: :delete, data: { confirm: 'Are you sure?' } %></i></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
