<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Company name</th>
      <th>Ein</th>
      <th>Fiscal year end</th>
      <th>Entity type</th>
      <th>Naic code</th>
      <th>Payroll provider</th>
      <th>Payroll frequency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.company_name %></td>
        <td><%= company.ein %></td>
        <td><%= company.fiscal_year_end %></td>
        <td><%= company.entity_type %></td>
        <td><%= company.naic_code %></td>
        <td><%= company.payroll_provider %></td>
        <td><%= company.payroll_frequency %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
