<div class="container-fluid page__heading-container" id="show-view">
<div class="page__heading d-flex align-items-center">
  <div class="flex">
    <h1 class="m-0"><%= @company.company_name %></h1>
  </div>
</div>
</div>

<div class="container-fluid page__container"  > 
  <div class= "row ">
    <div class="col-lg-5">
      <div class="card card-form__body">
        <div class = "table-responsive">
          <table class="table mb-0 thead-border-top-0 mt-1  table-hover table-bordered">
            <tbody>
              <tr>
                <td> EIN </td>
                <td> <%=@company.ein%> </td>
              </tr>
              <tr>
                <td> Fiscal Year End </td>
                <td> <%=@company.fiscal_year_end%> </td>
              </tr>
              <tr>
                <td> Entity Type </td>
                <td> <%=@company.entity_type %> </td>
              </tr>
              <tr>
                <td> NAIC Code </td>
                <td> <%=@company.naic_code%> </td>
              </tr>
              <tr>
                <td> Payroll Provider </td>
                <td> <%=@company.payroll_provider%> </td>
              </tr>
              <tr>
                <td>Payroll Frequency </td>
                <td> <%=@company.payroll_frequency %> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
</div>
