<div class="mdk-drawer js-mdk-drawer " id="default-drawer" data-align="start">
  <div class="mdk-drawer__content">
    <div class="sidebar sidebar-light sidebar-left simplebar" data-simplebar>
      <div class="d-flex align-items-center sidebar-p-a border-bottom">
        <a href="#" class="flex d-flex align-items-center text-body text-underline-0">
          <span class="avatar mr-3">
          <!--  <img src="/assets/stack/avatar/logo.png" alt="avatar" class="avatar-img rounded-circle">-->
          </span>
          <span class="flex d-flex flex-column">
            <strong><%="BEI"%></strong>
           <!-- <small class="text-muted text-uppercase">Admin</small>-->
          </span>
        </a>
      </div>
      <div class="anyClass">
      <div class="sidebar-heading sidebar-m-t">Menu</div>
      <ul class = "sidebar-menu">
        <li class = "sidebar-menu-item active">
          <a class="sidebar-menu-button" href="<%=root_path%>">
            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dvr</i>
            <span class="sidebar-menu-text">Home</span>
          </a>
        </li>
        <%# if can? :read, @user %>
          <li class = "sidebar-menu-item" id="attendace-list">
            <a class="sidebar-menu-button" data-toggle="collapse" href="#attendance_menu" aria-expanded="false">
              <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dvr</i>
              <span class="sidebar-menu-text">Users</span>
              <span class="ml-auto sidebar-menu-toggle-icon"></span>
            </a>
        <%#end%>
          <ul class="sidebar-submenu collapse show" id="attendance_menu" style="">
            <li class="sidebar-menu-item" id="view-attendance">
              <a class="sidebar-menu-button active-item" href="<%=users_path %>">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">account_box</i>
                <span class="sidebar-menu-text">View All Users</span>
              </a>
            </li>
             <%# if can? :new, @user %>
              <li class="sidebar-menu-item active-item" id="add-attendance">
                <a class="sidebar-menu-button" href="<%=new_user_path%>">
                  <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">local_hospital</i>
                  <span class="sidebar-menu-text">Create New User </span>
                </a>
              </li>
            <%#end%>

            <%# if can? :edit, @post %>
              <li class="sidebar-menu-item active-item" id="attendance-report">
                <a class="sidebar-menu-button"  href="<%=edit_user_path(current_user)%>">
                  <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">account_box</i>
                  <span class="sidebar-menu-text">Edit Current User</span>
                </a>
              </li>
            <%#end%>
          </ul>
        </li>
        <li class = "sidebar-menu-item">
          <a class="sidebar-menu-button" href="<%=my_active_task_index_path%>" aria-expanded="false">
            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dvr</i>
            <span class="sidebar-menu-text">My Active Tasks</span>
          </a>
        </li>
        <li class = "sidebar-menu-item">
          <a class="sidebar-menu-button collapsed" href="<%=distribution_index_path%>" aria-expanded="false">
            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dvr</i>
            <span class="sidebar-menu-text">Distribution</span>
          </a>
        </li>
        <li class = "sidebar-menu-item">
          <a class="sidebar-menu-button collapsed" data-toggle="collapse" href="#holiday_menu" aria-expanded="false">
            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dvr</i>
            <span class="sidebar-menu-text">Data collection</span>
            <span class="ml-auto sidebar-menu-toggle-icon"></span>
          </a>
          <ul class="sidebar-submenu collapse" id="holiday_menu">
            <li class="sidebar-menu-item" id="view-holidays">
              <a class="sidebar-menu-button" href="<%=generals_path%>">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">account_box</i>
                <span class="sidebar-menu-text">General</span>
              </a>
            </li>
            <li class="sidebar-menu-item" id="add-holidays">
              <a class="sidebar-menu-button" href="<%=companies_path%>">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">add_to_queue</i>
                <span class="sidebar-menu-text">Company</span>
              </a>
            </li>
            <li class="sidebar-menu-item" id="add-holidays">
              <a class="sidebar-menu-button" href="<%=principals_path%>">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">add_to_queue</i>
                <span class="sidebar-menu-text">Principal</span>
              </a>
            </li>
            <li class="sidebar-menu-item" id="add-holidays">
              <a class="sidebar-menu-button" href="<%=families_path%>">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">add_to_queue</i>
                <span class="sidebar-menu-text">Family</span>
              </a>
            </li>
            <li class="sidebar-menu-item" id="add-holidays">
              <a class="sidebar-menu-button" href="<%=businesses_path%>">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">add_to_queue</i>
                <span class="sidebar-menu-text">Business</span>
              </a>
            </li>
            <li class="sidebar-menu-item" id="add-holidays">
              <a class="sidebar-menu-button" href="<%=contacts_path%>">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">add_to_queue</i>
                <span class="sidebar-menu-text">Contacts</span>
              </a>
            </li>
             <li class="sidebar-menu-item" id="add-holidays">
              <a class="sidebar-menu-button" href="<%=plans_path%>">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">add_to_queue</i>
                <span class="sidebar-menu-text">Plans</span>
              </a>
            </li>
            <li class="sidebar-menu-item" id="add-holidays">
              <a class="sidebar-menu-button" href="<%=fifty_five_hundreds_path%>">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">add_to_queue</i>
                <span class="sidebar-menu-text">5500</span>
              </a>
            </li>
             <li class="sidebar-menu-item" id="add-holidays">
              <a class="sidebar-menu-button" href="<%=employees_path%>">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">add_to_queue</i>
                <span class="sidebar-menu-text">Employees</span>
              </a>
            </li>
          </li>
        </ul>
<!--Roles List -->
        <li class = "sidebar-menu-item" id="roles-list">
          <a class="sidebar-menu-button" data-toggle="collapse" href="#roles-menu" aria-expanded="false">
            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dvr</i>
            <span class="sidebar-menu-text">Roles</span>
            <span class="ml-auto sidebar-menu-toggle-icon"></span>
          </a>
          <ul class="sidebar-submenu collapse show" id="roles-menu" style="">
            <li class="sidebar-menu-item" id="view-roles">
              <a class="sidebar-menu-button active-item" href="<%=roles_path %>">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">account_box</i>
                <span class="sidebar-menu-text">View Roles</span>
              </a>
            </li>
            <li class="sidebar-menu-item active-item" id="assign-roles">
              <a class="sidebar-menu-button" href="<%=new_role_path%>">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">local_hospital</i>
                <span class="sidebar-menu-text">Add New Role </span>
              </a>
            </li>
          </ul>
        </li>
        <!--end Roles-->
      </ul>
      </div>
       <div style="display: none;">
        <div class="sidebar-heading">UI Components</div>
        <div class="sidebar-block p-0">
          <ul class="sidebar-menu" id="acomponents_menu">
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">mouse</i>
                <span class="sidebar-menu-text">Buttons</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">notifications</i>
                <span class="sidebar-menu-text">Alerts</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">aspect_ratio</i>
                <span class="sidebar-menu-text">Modals</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">brush</i>
                <span class="sidebar-menu-text">Icons</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">text_format</i>
                <span class="sidebar-menu-text">Forms</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">refresh</i>
                <span class="sidebar-menu-text">Loaders</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button" >
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">last_page</i>
                <span class="sidebar-menu-text">Pagination</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">person</i>
                <span class="sidebar-menu-text">Avatars</span>
                <span class="badge badge-warning ml-auto">PRO</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">pie_chart_outlined</i>
                <span class="sidebar-menu-text">Charts</span>
                <span class="badge badge-warning ml-auto">PRO</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">event_available</i>
                <span class="sidebar-menu-text">Time &amp; Date</span>
                <span class="badge badge-warning ml-auto">PRO</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dns</i>
                <span class="sidebar-menu-text">Custom Tables</span>
                <span class="badge badge-warning ml-auto">PRO</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">control_point</i>
                <span class="sidebar-menu-text">Drag &amp; Drop</span>
                <span class="badge badge-warning ml-auto">PRO</span>
              </a>
            </li>
              <a class="sidebar-menu-button" href="<%= root_path %>">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">location_on</i>
                <span class="sidebar-menu-text">Vector Maps</span>
                <span class="badge badge-warning ml-auto">PRO</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="sidebar-p-a">
          <a href="https://www.frontted.com/themes/stack-rails" class="btn btn-primary btn-block" target="_blank">Purchase PRO &dollar;99</a>
        </div>
      </div>
    </div>
  </div>
</div>
