<div class="mdk-drawer js-mdk-drawer " id="default-drawer" data-align="start">
  <div class="mdk-drawer__content">
    <div class="sidebar sidebar-light sidebar-left simplebar" data-simplebar>
      <div class="d-flex align-items-center sidebar-p-a border-bottom">
        <a href="#" class="flex d-flex align-items-center text-body text-underline-0">
          <span class="avatar mr-3">
          <!--  <img src="/assets/stack/avatar/logo.png" alt="avatar" class="avatar-img rounded-circle">-->
          </span>
          <span class="flex d-flex flex-column">
            <strong><%="Devbox"%></strong>
            <small class="text-muted text-uppercase">Admin</small>
          </span>
        </a>
       <!--   <div class="dropdown ml-auto">
          <a href="#" data-toggle="dropdown" data-caret="false" class="text-muted"><i class="material-icons">more_vert</i></a>
          <div id="dropdown-drawer-left" class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-item-text dropdown-item-text--lh">
              <div><strong><%="devbox"%></strong></div>
              <div>@<%="devbox"%></div>
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="<%=employees_path%>">Dashboard</a>
            <a class="dropdown-item" href="#">My profile</a>
            <a class="dropdown-item" href="/users/edit">Edit account</a>
            <div class="dropdown-divider"></div>
            <% link_to 'Logout', class: "dropdown-item", method: :delete %>
          </div>
        </div> -->
      </div>
      <div class="sidebar-heading sidebar-m-t">Menu</div>
      <ul class="sidebar-menu">
        <li class="sidebar-menu-item active">
          <a class="sidebar-menu-button" href="<%=root_path%>">
            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dvr</i>
            <span class="sidebar-menu-text">Dashboard</span>
          </a>
        </li>
      </ul>
      <ul class="sidebar-menu">
        <li class="sidebar-menu-item active">
          <a class="sidebar-menu-button" href="<%= attendances_path %>">
            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">account_box</i>
            <span class="sidebar-menu-text">View Today Attendance</span>
          </a>
        </li>
      </ul>
      <ul class="sidebar-menu">
        <li class="sidebar-menu-item active">
          <a class="sidebar-menu-button" href="<%=new_attendance_path%>">
            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">local_hospital</i>
            <span class="sidebar-menu-text">Add Manual Attendance </span>
          </a>
        </li>
      </ul>
      <ul class="sidebar-menu">
        <li class="sidebar-menu-item active">
          <a class="sidebar-menu-button" href="<%=leaves_path%>">
            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">question_answer</i>
            <span class="sidebar-menu-text">View Leaves</span>
          </a>
        </li>
      </ul>
      <ul class="sidebar-menu">
        <li class="sidebar-menu-item active">
          <a class="sidebar-menu-button" href="<%=new_leafe_path%>">
            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">add_to_queue</i>
            <span class="sidebar-menu-text">Add New Leave</span>
          </a>
        </li>
      </ul>
      <ul class="sidebar-menu">
        <li class="sidebar-menu-item active">
          <a class="sidebar-menu-button" href="<%=employees_path%>">
            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">account_box</i>
            <span class="sidebar-menu-text">All Employees</span>
          </a>
        </li>
      </ul>
      <ul class="sidebar-menu">
        <li class="sidebar-menu-item active">
          <a class="sidebar-menu-button"  href="<%=new_employee_path%>">
            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">add_to_queue</i>
            <span class="sidebar-menu-text">Add New Employee</span>
          </a>
        </li>
      </ul>
       <ul class="sidebar-menu">
        <li class="sidebar-menu-item active">
          <a class="sidebar-menu-button"  href="<%=leave_report_path%>">
            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">account_box</i>
            <span class="sidebar-menu-text">Leave Report</span>
          </a>
        </li>
      </ul>
       <ul class="sidebar-menu">
        <li class="sidebar-menu-item active">
          <a class="sidebar-menu-button"  href="<%=attendance_report_path%>">
            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">account_box</i>
            <span class="sidebar-menu-text">Attendance Report</span>
          </a>
        </li>
      </ul>

      <ul class="sidebar-menu">
        <li class="sidebar-menu-item active">
          <a class="sidebar-menu-button" href="<%=holidays_path%>">
            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">account_box</i>
            <span class="sidebar-menu-text">Holidays</span>
          </a>
        </li>
      </ul>
      <ul class="sidebar-menu">
        <li class="sidebar-menu-item active">
          <a class="sidebar-menu-button"  href="<%=new_holiday_path%>">
            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">add_to_queue</i>
            <span class="sidebar-menu-text">Add New Holiday</span>
          </a>
        </li>
      </ul>
      <div style="display: none;">
        <div class="sidebar-heading">UI Components</div>
        <div class="sidebar-block p-0">
          <ul class="sidebar-menu" id="acomponents_menu">
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">mouse</i>
                <span class="sidebar-menu-text">Buttons</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">notifications</i>
                <span class="sidebar-menu-text">Alerts</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">aspect_ratio</i>
                <span class="sidebar-menu-text">Modals</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">brush</i>
                <span class="sidebar-menu-text">Icons</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">text_format</i>
                <span class="sidebar-menu-text">Forms</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">refresh</i>
                <span class="sidebar-menu-text">Loaders</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button" >
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">last_page</i>
                <span class="sidebar-menu-text">Pagination</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">person</i>
                <span class="sidebar-menu-text">Avatars</span>
                <span class="badge badge-warning ml-auto">PRO</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">pie_chart_outlined</i>
                <span class="sidebar-menu-text">Charts</span>
                <span class="badge badge-warning ml-auto">PRO</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">event_available</i>
                <span class="sidebar-menu-text">Time &amp; Date</span>
                <span class="badge badge-warning ml-auto">PRO</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dns</i>
                <span class="sidebar-menu-text">Custom Tables</span>
                <span class="badge badge-warning ml-auto">PRO</span>
              </a>
            </li>
            <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">control_point</i>
                <span class="sidebar-menu-text">Drag &amp; Drop</span>
                <span class="badge badge-warning ml-auto">PRO</span>
              </a>
            </li>
              <a class="sidebar-menu-button" href="<%= employees_path %>">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">location_on</i>
                <span class="sidebar-menu-text">Vector Maps</span>
                <span class="badge badge-warning ml-auto">PRO</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="sidebar-p-a">
          <a href="https://www.frontted.com/themes/stack-rails" class="btn btn-primary btn-block" target="_blank">Purchase PRO &dollar;99</a>
        </div>
      </div>

    </div>
  </div>
</div>