<div id="default-drawer" data-align="start"
	class="pl-0 col-3 drawer-width" style="z-index: 1;">

	<div class="sidebar sidebar-light sidebar-left open">

		<div id="flex"
			class=" align-items-center sidebar-p-a border-bottom <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':'d-flex'%>">
		</div>


		<ul class="sidebar-menu">
			<li class="sidebar-menu-item " id="home">
				<a class="sidebar-menu-button" href="<%=root_path%>" aria-expanded="false">
					<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons " title="Home"
						style="margin: 5px">home</i>
					<span class="sidebar-menu-text%>">Dashboard</span>
				</a>
			</li>
		
			<% if current_user.admin? %>
				<!--session ends-->
				<li class="sidebar-menu-item" id="Secure-file">
					<a class="sidebar-menu-button collapsed" href="<%=%>" aria-expanded="false">
						<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons" title="Secure File"
							style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">file_copy</i>
						<span class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">Secure
							File</span>
					</a>
				</li>

				<li class="sidebar-menu-item">
					<a class="sidebar-menu-button" data-toggle="collapse" href="#attendance_menu" aria-expanded="false">
						<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons" title="Users"
							style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">people</i>
						<span class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">
							Users</span>
						<span class="ml-auto sidebar-menu-toggle-icon <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>"
							id="show-user"></span>
					</a>
					<ul class="sidebar-submenu collapse show" id="attendance_menu" style="">
						<li class="sidebar-menu-item" id="view-user">
							<a class="sidebar-menu-button active-item" href="<%=users_path %>">
								<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons" title="View All Users"
									style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">account_box</i>
								<span class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">View
									All
									Users</span>
							</a>
						</li>
						<li class="sidebar-menu-item active-item" id="new-user">
							<a class="sidebar-menu-button" href="<%=%>">
								<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons" title="Add New User"
									style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">local_hospital</i>
								<span class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">Add
									New
									User</span>
							</a>
						</li>
					</ul>
				</li>

				<li class="sidebar-menu-item" id="roles-list">
					<a class="sidebar-menu-button" data-toggle="collapse" href="#roles-menu" aria-expanded="false">
						<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons" title="Roles and Permissions"
							style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">fact_check</i>
						<span class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">Roles and
							Permissions</span>
						<span
							class="ml-auto sidebar-menu-toggle-icon <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>"></span>
					</a>
					<ul class="sidebar-submenu collapse show" id="roles-menu" style="">
						<li class="sidebar-menu-item" id="view-roles">
							<a class="sidebar-menu-button active-item" href="<%= %>">
								<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons" title="View All Roles"
									style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">preview</i>
								<span class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">View
									All
									Roles</span>
							</a>
						</li>
						<li class="sidebar-menu-item active-item" id="add-role">
							<a class="sidebar-menu-button" href="<%=%>">
								<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons" title="Add New Role"
									style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">local_hospital</i>
								<span class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">Add
									New Role
								</span>
							</a>
						</li>
						<li class="sidebar-menu-item" id="view-rights">
							<a class="sidebar-menu-button active-item" href="<%= %>">
								<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons" title="View All Rights"
									style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">preview</i>
								<span class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">View
									All
									Rights</span>
							</a>
						</li>
						<li class="sidebar-menu-item active-item" id="add-right">
							<a class="sidebar-menu-button" href="<%=%>">
								<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons" title="Add New Rights"
									style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">local_hospital</i>
								<span class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">Add
									New
									Right</span>
							</a>
						</li>
					</ul>
				</li>
			<% end %>
		
		</ul>
		<div style="display: none;">
			<div class="sidebar-heading">UI Components</div>
			<div class="sidebar-block p-0">
				<ul class="sidebar-menu" id="acomponents_menu">
					<li class="sidebar-menu-item active">
						<a class="sidebar-menu-button">
							<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons"
								style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">mouse</i>
							<span class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">Buttons</span>
						</a>
					</li>
					<li class="sidebar-menu-item active">
						<a class="sidebar-menu-button">
							<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons"
								style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">notifications</i>
							<span class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">Alerts</span>
						</a>
					</li>
					<li class="sidebar-menu-item active">
						<a class="sidebar-menu-button">
							<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons"
								style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">aspect_ratio</i>
							<span class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">Modals</span>
						</a>
					</li>
					<li class="sidebar-menu-item active">
						<a class="sidebar-menu-button">
							<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons"
								style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">brush</i>
							<span class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">Icons</span>
						</a>
					</li>
					<li class="sidebar-menu-item active">
						<a class="sidebar-menu-button">
							<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons"
								style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">text_format</i>
							<span class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">Forms</span>
						</a>
					</li>
					<li class="sidebar-menu-item active">
						<a class="sidebar-menu-button">
							<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons"
								style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">refresh</i>
							<span class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">Loaders</span>
						</a>
					</li>
					<li class="sidebar-menu-item active">
						<a class="sidebar-menu-button">
							<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons"
								style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">last_page</i>
							<span
								class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">Pagination</span>
						</a>
					</li>
					<li class="sidebar-menu-item active">
						<a class="sidebar-menu-button">
							<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons"
								style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">person</i>
							<span class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">Avatars</span>
							<span class="badge badge-warning ml-auto">PRO</span>
						</a>
					</li>
					<li class="sidebar-menu-item active">
						<a class="sidebar-menu-button">
							<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons"
								style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">pie_chart_outlined</i>
							<span class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">Charts</span>
							<span class="badge badge-warning ml-auto">PRO</span>
						</a>
					</li>
					<li class="sidebar-menu-item active">
						<a class="sidebar-menu-button">
							<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons"
								style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">event_available</i>
							<span class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">Time
								&amp;
								Date</span>
							<span class="badge badge-warning ml-auto">PRO</span>
						</a>
					</li>
					<li class="sidebar-menu-item active">
						<a class="sidebar-menu-button">
							<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons"
								style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">dns</i>
							<span class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">Custom
								Tables</span>
							<span class="badge badge-warning ml-auto">PRO</span>
						</a>
					</li>
					<li class="sidebar-menu-item active">
						<a class="sidebar-menu-button">
							<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons"
								style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">control_point</i>
							<span class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">Drag
								&amp;
								Drop</span>
							<span class="badge badge-warning ml-auto">PRO</span>
						</a>
					</li>
					<a class="sidebar-menu-button" href="<%= root_path %>">
						<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons"
							style="<%=cookies[:sidebar_status] == 'collapsed' ? 'margin:10px':'margin:5px'%>">location_on</i>
						<span class="sidebar-menu-text <%=cookies[:sidebar_status] == 'collapsed' ? 'd-none':''%>">Vector
							Maps</span>
						<span class="badge badge-warning ml-auto">PRO</span>
					</a>
					</li>
				</ul>
			</div>
			<div class="sidebar-p-a">
				<a href="https://www.frontted.com/themes/stack-rails" class="btn btn-primary btn-block" target="_blank">Purchase
					PRO &dollar;99</a>
			</div>
		</div>
	</div>
</div>
