 <!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<title>Benefit Equity, Inc</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all' %>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<link href="	https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">	

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="<%= @body_class || 'layout-default' %>">
	<!-- Header Layout -->
	<% if !user_signed_in?%>
		<%= yield %>
	<% else%>
		<div class="">
			<!-- Header -->
				<div id="header" class="m-0" data-fixed>
					<div class="">
					<% if action_name == 'internal_dashboard'%>
					<%else%>
						<%= render 'layouts/stack/navbar'%>
					<%end%>
					</div>
				</div>
			<!-- // END Header -->
			<%#div class="mdk-header-layout__content" style="display:none"></div#%%>
			<!-- Header Layout Content -->
			<div class="d-flex mt-7">
				<!-- // END drawer-layout__content -->
				<% if action_name == 'internal_dashboard'%>
				<%else%>
					<%= render 'layouts/stack/drawer_left' %>
					<% if (request.original_fullpath == "/plans_new" || request.original_fullpath[1,5]	== "plans") %>
						<%= render '/shared/notes_popup', { data_collection_step: "plan" } %>
					<% elsif (request.original_fullpath == "/5500_new"  || request.original_fullpath[1,4]	== "5500") %>
						<%= render '/shared/notes_popup', { data_collection_step: "5500" } %>
					<% else %>
						<%= render '/shared/notes_popup', { data_collection_step: controller_name.singularize } %>
					<% end %>
				<%end%>
				<div class="applicationCol <%=cookies[:sidebar_status] == "collapsed" ? 'col-12':'col-10 application-width '%>" style="<%=cookies[:sidebar_status] == "collapsed" ? 'padding-left:100px':'padding-left:11px'%>">
					<% unless @flash_action.present? %>
						<% if (request.original_fullpath.include?("tasks") || request.original_fullpath.include?("secure_files") ||request.original_fullpath.include?("companies") || request.original_fullpath.include?("generals") || request.original_fullpath.include?("address")  || request.original_fullpath.include?("principals") || request.original_fullpath.include?("view_requests") ||request.original_fullpath.include?("families") || request.original_fullpath.include?("businesses") || request.original_fullpath.include?("contact")) %>
						<%else%>
							<%= render 'layouts/stack/flashmessage' %>
						<%end%>
					<% end %>
					<%# CONTENT  %>
					<%= yield %>

				</div>
			</div>
		</div>
	<%end %>
	<!-- // END header-layout__content -->
	<!-- // END header-layout -->

	<%= content_for :footer %>
	<%= javascript_include_tag 'core-scripts', 'data-turbolinks-track' => 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
	<%= content_for :footer_scripts %>

</body>

</html>