<div class="container-fluid full-scroll">
  <div class="page__heading cancel-row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
        <li class="breadcrumb-item active" aria-current="page">Rights</a></li>
      </ol>
    </nav>
    <div class="row">
      <div style="display:inline-block" class=" col-lg-4  w-50 p-12 px-md-1 ">
        <h1 class="ml-3">View Rights</h1>
      </div>
      
    </div>
  </div>

  <div class="card card-">
    <div class="row no-gutters">
      <div class="col-lg-12 card-form__body card-body">
      <div class="row">
      <div class="col-lg-2 offset-lg-10">
        <%=link_to 'Add New Right',new_right_path, class:"btn btn-primary m-1 mr-2 float-right" %>
      </div>
      </div>
        <div class="table-responsive pl-2 pr-2 mt-2">
          <table class="table mb-0 thead-border-top-0 mt-1  table-hover">
            <thead class="table-info">
              <tr>
                <th>Rights</th>
                <th colspan="1">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @rights.each do |right| %>
              <tr class="redirect_to_show cursor-pointer" data-url=<%= right_path(right) %>>
                <td><%= right.right_type %></td>
                <td>
                  <a href=<%=edit_right_path(right)%>><i class="material-icons">edit</i></a>
                  <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href=<%=right_path(right)%>><i
                      class="material-icons">delete</i></a>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>