<div class="form-row" >
  <div class='col-lg-9' id='mt-n1'>
      <%= bootstrap_form_for(resource,as: resource_name,url:session_path(resource_name)) do |f| %>
      <div class='col-lg-6 left-move px-md-5'>
        <h1>READY?</h1>
      </div>
      <div class='col-lg-6 left-move px-md-5'>
        <div class="row col-sm-12 ">
          <%= f.email_field :email,required: true %>
        </div>
      </div>
      <div class='col-lg-6 left-move px-md-5'>
        <div class="row col-sm-12 ">
          <%= f.password_field :password,required: true %>
        </div>
      </div>
      <div class='col-lg-6 left-move px-md-5'>
        <div class="row col-sm-12">
          <input type="submit" name="commit" value="Let's Go" class="btn btn-primary" data-disable-with="logging User">
        </div>
      </div>
      <% if alert.present? %>
      <div class="alert alert-soft-danger d-flex col-lg-3 mt-3 ml-5"  role="alert">
        <i class="material-icons mr-3 align-self-center">error</i>
        <span><%= alert %></span>
      </div>
      <% end %>   
    <%end%>
  </div>
  <div class="col-lg-3 h-100"> 
    <%= image_tag("Banner.png", class: "banner-img", :alt => "rss feed") %>
  </div>

</div>