<div class="container-fluid">
  <div class="row">
    <div class='col-lg-8' id='mt-n1'>
      <%= bootstrap_form_for(resource,as: resource_name,url:session_path(resource_name)) do |f| %>
      <div class='col-lg-6 pl-5'>
        <h1>READY?</h1>
      </div>
      <div class='col-lg-6 pl-5'>
        <div class="row col-sm-12 ">
          <%= f.email_field :email,required: true %>
        </div>
      </div>
      <div class='col-lg-6 pl-5'>
        <div class="row col-sm-12 ">
          <%= f.password_field :password,required: true %>
        </div>
      </div>
      <div class='col-lg-6 pl-5'>
        <div class="row col-sm-12">
          <input type="submit" name="commit" value="Let's Go" class="btn btn-primary" data-disable-with="logging User">
        </div>
      </div>
      <% if alert.present? %>
      <div class="alert alert-soft-danger d-flex col-lg-3 mt-3 ml-5" role="alert">
        <i class="material-icons mr-3 align-self-center">error</i>
        <span><%= alert %></span>
      </div>
      <% end %>
      <%end%>
    </div>
    <div class="col-lg-3 banner">
    <div class="w-100">
      <%= image_tag("Banner.jpg", class: "banner-img mb-3 ml-1 d-flex", :alt => "rss feed") %>
      <div class="banner-text ml-1 d-flex mx-4"><b>At BEI,building and cultivating relationship is the foundation of what
          we do. It's our experienced, talented and long-tenured team⸺and their
          commitment to treating people with
          the greatest level of respect⸺that sets BEI apart from others.</b></div>
    </div>
    </div>
  </div>
</div>