<div class="container-fluid page__heading-container" id="show-view">
<div class="page__heading d-flex align-items-center">
  <div class="flex">
    <h1 class="m-0"><%= "Address Details"  %></h1>
  </div>
</div>
</div>

<div class="container-fluid page__container"  > 
  <div class= "row ">
  <div class="col-lg-5">
  <div class="card card-form__body">
    <div class = "table-responsive">
      <table class="table mb-0 thead-border-top-0 mt-1  table-hover table-bordered">
        <tbody>
          <tr>
            <td> Address1 </td>
            <td> <%=@address.address1%> </td>
          </tr>
          <tr>
            <td>Address2 </td>
            <td> <%=@address.address1%> </td>
          </tr>
          <tr>
            <td>City </td>
            <td> <%=@address.city%> </td>
          </tr>
          <tr>
            <td>State </td>
            <td> <%=@address.state%> </td>
          </tr>
          <tr>
            <td>Zip </td>
            <td> <%=@address.zip%> </td>
          </tr>
          <tr>
            <td>Address Type </td>
            <td> <%=@address.address_type%> </td>
          </tr>
        </tbody>
       </table>
      </div>
    </div> 
    </div>
</div> 
</div>
