<p id="notice"><%= notice %></p>

<p>
  <strong>Question1:</strong>
  <%= @fifty_five_hundred.question1 %>
</p>

<p>
  <strong>Question2:</strong>
  <%= @fifty_five_hundred.question2 %>
</p>

<p>
  <strong>Question3:</strong>
  <%= @fifty_five_hundred.question3 %>
</p>

<p>
  <strong>Question4:</strong>
  <%= @fifty_five_hundred.question4 %>
</p>

<p>
  <strong>Question5:</strong>
  <%= @fifty_five_hundred.question5 %>
</p>

<p>
  <strong>Question6:</strong>
  <%= @fifty_five_hundred.question6 %>
</p>

<%= link_to 'Edit', edit_fifty_five_hundred_path(@fifty_five_hundred) %> |
<%= link_to 'Back', fifty_five_hundreds_path %>
