<div class="container-fluid page__heading-container">
  <div class="page__heading d-flex align-items-center">
    <div class="flex">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href=<%='#'%>><i class="material-icons icon-20pt">home</i></a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href=<%='project_templates'%>>Project Templates</a></li>
        </ol>
      </nav>
      <h1 class="m-0">View Project Templates</h1>
    </div>
  </div>
</div>
  <div class="container-fluid page__container"  >
    <div class="card card-form__body">
      <div class= "row">
        <div class="col-lg-2 offset-lg-10">
          <%=link_to 'Add New Project Template',new_project_template_path, class:"btn btn-primary m-1 float-right" ,:style => "width:100%"  %>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table mb-0 thead-border-top-0 mt-1  table-hover">
          <thead class="table-info">
            <tr>
              <th><%= sort_link(@q,:project_name)%></th>
              <th><%=sort_link@q,:start_date%></th>
              <th><%=sort_link(@q,:extended_deadline)%></th>
              <th><%= sort_link(@q,:require_web_collection)%></th>
              <th >Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @project_templates.each do |project_template| %>
              <tr class="redirect_to_show cursor-pointer" data-url=<%= project_template_path(project_template) %>>
                <td><%=project_template.project.name%></td>
                <td><%= project_template.start_date %></td>
                <td><%= project_template.external_deadline %></td>
                <td><%=project_template.require_web_collection%></td>
                <td>
                  <a href=<%=edit_project_template_path(project_template)%> ><i class="material-icons">edit</i></a>
                  <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href=<%=project_template_path(project_template)%>><i class="material-icons">delete</i></a></tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
