<div class="employee_index_scroll">
	<div class="container-fluid page__heading-container">
		<div class="page__heading d-flex align-items-center">
			<div class="flex">
				<div class="row">
					<div class="col-lg-2">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
								<li class="breadcrumb-item active" aria-current="page">General</a></li>
							</ol>
							<h1 class="m-0" <%= count()%>>General</h1>
						</nav>
					</div>
					<!-- Stepper partial -->
					<div class="container">
						<div>
							<%= render '/shared/stepper' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid page__container">
		<div>
			<h3> Step 1 : Company Address and Phone Numbers :
				<div class="ml-3 my-1 float-right">
					<%=link_to "Save",save_general_path,class: "btn btn-success " %>
				</div>
				<div class="ml-3 my-1 float-right">
					<button type="button" class="btn btn-success px-3 notes_count" data-toggle="modal" data-target="#myModal ">Notes
						<%= [no_of_notes(controller_name.singularize)] %></button>
				</div>
			</h3>

		</div>
		<div class="mt-4 mb-2">
			<span style="font-style: italic;"> Please review the address and phone numbers below. Please add any new
				information or update existing
				information as necessary. When you have completed your changes, click the Save button to continue.</span>

		</div>
		<div class="row no-gutters">
			<div class="col-lg-6">
				<div class="card card-no-flex card-form card-form__body ">
					<div class="ml-3 my-1 float-right">
						<%=link_to "Add Address",new_address_path,class: "btn btn-primary " %>
					</div>
					<table class="table mb-0 thead-border-top-0 mt-1 table-hover">
						<thead class="table-info">
							<tr>
								<th><%= sort_link(@q, :address_type_id, 'Type') %></th>
								<th colspan="3"><%= sort_link(@q, 'address',:Address) %></th>
								<th colspan="1"><%= sort_link(@q, :Actions) %></th>
							</tr>
						</thead>
						<%if current_user%>
						<tbody>
							<% @address_mappings.each do |address_mapping| %>
							<tr class="redirect_to_show cursor-pointer" data-url=<%=view_address(address_mapping) %>>
								<td><%=find_address_type(address_mapping.address_type_id)%></td>
								<td colspan="3">
									<%= find_address(address_mapping.address_id)%>
								</td>
								<td>
									<a href=<%=edit_address(address_mapping)%>><i class="material-icons">edit</i></a>
									<a data-confirm="Are you sure?" rel="nofollow" data-method="delete"
										href=<%=delete_address(address_mapping)%>><i class="material-icons">delete</i></a>
								</td>
							</tr>
							<% end %>
						</tbody>
						<%end%>
					</table>
				</div>
			</div>

			<div class="col-lg-5 offset-lg-1">
				<div class="card card-no-flex card-form card-form__body">
					<div class="ml-3 my-1 float-right">
						<%=link_to "Add Contact",new_contact_number_path,class: "btn btn-primary" %>
					</div>
					<table class="table mb-0 thead-border-top-0 mt-1 table-hover">
						<thead class="table-info">
							<tr>
								<th><%= sort_link(@q, :contact_type, 'Type') %></th>
								<th colspan="2"> <%= sort_link(@q, :number) %></th>
								<th colspan="1">Actions</th>
							</tr>
						</thead>
						<%if current_user%>
						<tbody>
							<%@numbers.each do |number| %>
							<tr class="redirect_to_show cursor-pointer" data-url=<%= contact_number_path(number) %>>
								<td><%= number.contact_type %></td>
								<td colspan="2"> <%= number.number %></td>
								<td>
									<a href=<%=edit_contact_number_path(number)%>><i class="material-icons">edit</i></a>
									<a data-confirm="Are you sure?" rel="nofollow" data-method="delete"
										href=<%=contact_number_path(number)%>><i class="material-icons">delete</i></a> </td>
							</tr>
							<%end%>
						</tbody>
						<%end%>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>