<div class="row mt-4" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <label for="project_task_task_id">Task ID</label>
    <%= f.text_field :task_id,hide_label: true %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row mt-4" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
      <%= f.text_field :company_contact %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row mt-4" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
        <%= f.text_field :company_data %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row mt-4" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
      <%= f.text_field :principals %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>

<div class="row mt-4" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <%= f.text_field :family_relationship %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row mt-4" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <%= f.text_field :other_companies_owned %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row mt-4" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <%= f.text_field :contacts %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row mt-4" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <%= f.text_field :plan_compilance_question %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row mt-4" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <%= f.text_field :other_compilance_question  %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row mt-4" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <%= f.text_field :employee_census %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row mt-4" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <%= f.check_box :final_approval %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="actions col-lg-12 mt-3">
  <div class="row mb-5">
    <div class="col-lg-5 left-move"></div>
    <div class="left-move">
      <%= f.submit value: "Save", class: "btn btn-primary"%>
    </div>
    <div class="ml-2">
      <%= link_to 'Cancel', project_tasks_path, class: "btn btn-secondary " %>
    </div>
  </div>
</div>
