<div class="container-fluid page__heading-container" id="show-view">
  <div class="page__heading d-flex align-items-center">
    <div class="flex">
      <h1 class="m-0"><%=@task_item.task&.task_name %></h1>
    </div>
  </div>
</div>

<div class="container-fluid page__container"  > 
  <div class= "row ">
    <div class="col-lg-5">
    <div class="card card-form__body">
      <div class = "table-responsive">
        <table class="table mb-0 thead-border-top-0 mt-1  table-hover table-bordered">
          <tbody>
            <tr>
              <td> Company Contact </td>
              <td> <%=@task_item.company_contact%> </td>
            </tr>
            <tr>
              <td> Company Data </td>
              <td> <%=@task_item.company_data%> </td>
            </tr>
            <tr>
              <td>Principals</td>
              <td> <%=@task_item.principals %> </td>
            </tr>
            <tr>
              <td>Family Relationship </td>
              <td> <%=@task_item.family_relationship %> </td>
            </tr>
            <tr>
              <td> Other Companies Owned </td>
              <td> <%=@task_item.other_companies_owned%> </td>
            </tr>
            <tr>
              <td>Contacts</td>
              <td> <%=@task_item.contacts %> </td>
            </tr>
            <tr>
              <td> Plan compilance question </td>
              <td> <%=@task_item.plan_compilance_question%> </td>
            </tr>
            <tr>
              <td>Other compilance question:</td>
              <td> <%=@task_item.other_compilance_question %> </td>
            </tr>
             <tr>
              <td> Employee Census</td>
              <td> <%= @task_item.employee_census%> </td>
            </tr>
            <tr>
              <td>Final approval</td>
              <td> <%=@task_item.final_approval %> </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
