<div class="mt-1 float-left ">
	<h4 > Administrative Form </h4>
</div>
<div class="mr-3 float-right btn-size">
	<%= link_to 'Document', new_feduciary_document_path,id: 'add_feduciary_doument', class:"btn btn-primary px-6" %>
</div>
 <div>
	 <%= render 'feduciary_document_table_data',{ document_plan: "Administrative forms" } %>
 </div>

<div class="mt-1 float-left ">
	<h4 > Compilance Reports</h4>
</div>
<div>
	<%= render 'feduciary_document_table_data',{ document_plan: "Compilance Reports" } %>
</div>


<div class="mt-1 float-left ">
	<h4 >Legal Plan Documents</h4>
</div>
<div>
	<%= render 'feduciary_document_table_data',{ document_plan: "Legal Plan Documents" } %>
</div>

<div class="mt-1 float-left ">
	<h4 > Feduciary Documents </h4>
</div>
<div class= "mb-5">
	<%= render 'feduciary_document_table_data',{ document_plan: "Feduciary Documents" } %>
</div>
