
<div class="table-responsive border-bottom " data-toggle="lists" data-lists-values='["js-lists-values-employee-name"]' >
  <table class="table mb-0 thead-border-top-0 mt-1 table-bordered table-fixed ">
	<thead>
	  <tr class="table-info">
		<th >Name</th>
		<th >File Type</th>
		<th >Description</th>
		<th >Posted</th>
		<th >Effective</th>
		<th >Period End</th>
		<th >Actions</th>
	  </tr>
	</thead>
	<% count = 0 %>
	<tbody class="list" id="blah" >
	  <% @feduciary_documents.each do |feduciary_document| %>
		<% if (current_user.id == current_user.id && feduciary_document.plan == document_plan ) %>
		  <% count += 1 %>
		  <tr class ="redirect_to_show cursor-pointer" data-url="<%= feduciary_document_path(feduciary_document) %>" >
			<td ><%= feduciary_document.feduciary_doc.filename%></td>
			<td ><%= feduciary_document.feduciary_document_type %></td>
			<td ><%= feduciary_document.description %></td>  
			<td ><%= feduciary_document.created_at %></td>
			<td ><%= feduciary_document.effective_date %></td>
			<td ><%= feduciary_document.period_end %></td>
			<td >
			
			<a href="<%= rails_blob_path(feduciary_document.feduciary_doc.blob) %>" disposition="attachment" target="_blank"> <i class="material-icons icon-20pt modal-get_app">get_app</i> </a>
			<% if feduciary_document.plan == "Feduciary Documents" %>
				<a href=<%=edit_feduciary_document_path(feduciary_document)%> ><i class="material-icons icon-20pt modal-edit">edit</i></a>
				<a data-confirm="Are you sure?" rel="nofollow"  data-method="delete" href=<%=feduciary_document_path(feduciary_document)%> %><i class="material-icons">delete</i></a>
			<% end %>

		</td>
		  </tr>
	   <% end %>
	  <% end %>
	  <% if count == 0 %>
		<tr> 
		  <td> no results found </td>
		</tr>
	  <%end%>
	</tbody>
  </table>
</div>