<div class="mt-4 ml-2 float-left ">
	<h4 class="table_title"> Administrative Form </h4>
</div>
<div class="mr-2 mt-2 float-right btn-size ">
	<%= link_to 'Document', new_feduciary_document_path,id: 'add_feduciary_doument', class:"btn btn-primary px-4" %>
</div>
<div class="pl-2 pr-2">

	<%= render 'feduciary_document_table_data',{ document_plan: "Administrative forms" } %>
</div>

<div class="mt-4 ml-2 float-left ">
	<h4 class="table_title"> Compilance Reports</h4>
</div>
<div class="pl-2 pr-2">
	<%= render 'feduciary_document_table_data',{ document_plan: "Compilance Reports" } %>
</div>


<div class="mt-4 ml-2 float-left ">
	<h4 class="table_title">Legal Plan Documents</h4>
</div>
<div class="pl-2 pr-2">
	<%= render 'feduciary_document_table_data',{ document_plan: "Legal Plan Documents" } %>
</div>

<div class="mt-4 ml-2 float-left ">
	<h4 class="table_title"> Feduciary Documents </h4>
</div>
<div class="pl-2 pr-2">
	<%= render 'feduciary_document_table_data',{ document_plan: "Feduciary Documents" } %>
</div>