



<p id="notice"><%= notice %></p>

<p>
  <strong>Plan:</strong>
  <%= @feduciary_document.plan %>
</p>

<p>
  <strong>Type:</strong>
  <%= @feduciary_document.feduciary_document_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feduciary_document.description %>
</p>

<p>
  <strong>Effective date:</strong>
  <%= @feduciary_document.effective_date %>
</p>

<p>
  <strong>Period end:</strong>
  <%= @feduciary_document.period_end %>
</p>

<p>
  <strong>Taskgroup:</strong>
  <%= @feduciary_document.task_group_id %>
</p>

<%= link_to 'Edit', edit_feduciary_document_path(@feduciary_document) %> |
<%= link_to 'Back', feduciary_documents_path %>
