<div class="container-fluid full-scroll">
 <div class="page__heading cancel-row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
        <li class="breadcrumb-item active" aria-current="page">Plan</a></li>
      </ol>
    </nav>
    <div class="row">
      <div style="display:inline-block" class=" col-lg-4  w-50 p-12 px-md-1 ">
      <h1 class="ml-3">View Plan</h1> 
      </div>
      <div class="col-lg-2 offset-lg-6">
        <%=link_to 'Add New Plan',new_plan_path, class:"btn btn-primary m-1 float-right" %>
      </div>
    </div>
  </div>
  <table class="table mb-0 thead-border-top-0 mt-1  table-hover">
    <thead class="table-info">
      <tr>
        <th scope="col">1</th>
        <th scope="col">2</th>
        <th scope="col">3</th>
        <th scope="col">4</th>
        <th scope="col">5</th>
        <th scope="col">6</th>
        <th scope="col">7</th>
        <th scope="col">8</th>
        <th scope="col">9</th>
        <th scope="col">10</th>
        <th scope="col">11</th>
        <th scope="col">12</th>
        <th colspan="1" style="padding-left:0;padding-right:0">Action</th>
      </tr>
    </thead>
    <% @plans.each do |plan| %>
      <tbody>
      <tr class ="redirect_to_show cursor-pointer" data-url="<%= plan_path(plan) %>">
          <td><%=plan.question1%></td>
          <td><%=plan.question2%></td>
          <td><%=plan.question3%></td>
          <td><%=plan.question4%></td>
          <td><%=plan.question5%></td>
          <td><%=plan.question6%></td>
          <td><%=plan.question7%></td>
          <td><%=plan.question8%></td>
          <td><%=plan.question9%></td>
          <td><%=plan.question10%></td>
          <td><%=plan.question11%></td>
          <td><%=plan.question12%></td>
            <td class="row" style="padding-left:0;padding-right:0">
            <a href=<%=edit_plan_path(plan)%> ><i class="material-icons icon-20pt modal-edit">edit</i></a>
            <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href=<%=plan_path(plan)%>><i class="material-icons">delete</i></a>
           
          </td>
        </tr>
      </tbody>
    <%end%>
  </table>
</div>
