<div class="anyClass">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">1</th>
        <th scope="col">2</th>
        <th scope="col">3</th>
        <th scope="col">4</th>
        <th scope="col">5</th>
        <th scope="col">6</th>
        <th scope="col">7</th>
        <th scope="col">8</th>
        <th scope="col">9</th>
        <th scope="col">10</th>
        <th scope="col">11</th>
        <th scope="col">12</th>
        <th colspan="1"></th>
        <th><%=link_to 'Add',new_plan_path, class:"btn btn-primary"%></th>
      </tr>
    </thead>
    <% @plans.each do |plan| %>
      <tbody>
        <tr>
          <td><%=plan.question1%></td>
          <td><%=plan.question2%></td>
          <td><%=plan.question3%></td>
          <td><%=plan.question4%></td>
          <td><%=plan.question5%></td>
          <td><%=plan.question6%></td>
          <td><%=plan.question7%></td>
          <td><%=plan.question8%></td>
          <td><%=plan.question9%></td>
          <td><%=plan.question10%></td>
          <td><%=plan.question11%></td>
          <td><%=plan.question12%></td>
          <td class="row" style="padding-left:0;padding-right:0">
          <i class="material-icons icon-20pt"><%= link_to 'slideshow', plan %></i>
          <i class="material-icons icon-20pt"><%= link_to 'edit', edit_plan_path(plan) %></i>
          <i class="material-icons icon-20pt"><%= link_to 'delete', plan, method: :delete, data: { confirm: 'Are you sure?' } %></i>
          </td>
        </tr>
      </tbody>
    <%end%>
  </table>
</div>
