<p>
  <strong>Question1:</strong>
  <%= @plan.question1 %>
</p>

<p>
  <strong>Question2:</strong>
  <%= @plan.question2 %>
</p>

<p>
  <strong>Question3:</strong>
  <%= @plan.question3 %>
</p>

<p>
  <strong>Question4:</strong>
  <%= @plan.question4 %>
</p>

<p>
  <strong>Question5:</strong>
  <%= @plan.question5 %>
</p>

<p>
  <strong>Question6:</strong>
  <%= @plan.question6 %>
</p>

<p>
  <strong>Question7:</strong>
  <%= @plan.question7 %>
</p>

<p>
  <strong>Question8:</strong>
  <%= @plan.question8 %>
</p>

<p>
  <strong>Question9:</strong>
  <%= @plan.question9 %>
</p>

<p>
  <strong>Question10:</strong>
  <%= @plan.question10 %>
</p>

<p>
  <strong>Question11:</strong>
  <%= @plan.question11 %>
</p>

<p>
  <strong>Question12:</strong>
  <%= @plan.question12 %>
</p>
